/* ***** GÉNÉRAL ***** */

*{
    margin:0;
    padding:0;
}

#bodyTenant {
    background-image: url("../images/bg.jpeg");
    /*    background-imahttps://images.unsplash.com/photo-1439405326854-014607f694d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80ge: url("https://i1.wp.com/eldorado-immobilier.com/wp-content/uploads/2018/07/facture-de-location-saisonni%C3%A8re.jpg?ssl=12");*/
    display : table !important;
    width: 100% !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.app-sidebar{
    /*    background: #ffffff73 !important;*/
}

.closed-sidebar .app-sidebar:hover {
    /*    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%) !important;*/
}

#img-index, #img-inscription, #img-confirmation, #img-reset-password,
#img-modify-subscription, #img-cancel-subscription, #img-renew-subscription{
    display: table !important;
    width: 100% !important;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-index {
    background-image: url("../images/img_side1.jpg");
}

#img-inscription{
    background-image: url("../images/img_side3.jpeg");
}

#img-confirmation{
    background-image: url("../images/img_side2.jpg");
}

#img-reset-password{
    background-image: url("../images/img_side4.jpg");
}

#img-modify-subscription{
    background-image: url("../images/img_side5.jpg");
}

#img-cancel-subscription{
    background-image: url("../images/img_side6.jpg");
}

#img-renew-subscription{
    background-image: url("../images/img_side7.jpg");
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.inp-center{
    margin: 0 auto;
}

.display-5{
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}

#basic-addon1{
    height: 34px;
    margin-top: 2px;
    background-color: #fff !important;
    border: 1px solid transparent !important;
    border-radius: 0;
}

.input-line{
    height: 36px;
    margin-top: 1px;
    background-color: #fff !important;
    border: 1px solid transparent !important;
    border-bottom: 1px solid grey !important;
    border-radius:25px; 
}

.btn-center{
    margin: 0 auto !important;
    display: block !important;
}

.btn-back{
    position: absolute;
    top: 2%;
    left: 1%;
    border-radius: 25px;
    font-size: 1.5rem;
}

.container-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-icon{
    cursor: pointer;
    background: transparent;
    border: none;
    color: #007bff;
}

@media screen and (min-width: 1600px) {
    .img-logo-index, .img-logo-subscribe{
        position: absolute;
        left: 34%;
        top: -2.5%;
    }
}

@media screen and (max-width: 1500px) {
    .img-logo-index, .img-logo-subscribe{
        position: absolute;
        left: 28%;
        top: -2.5%;
    }
}

.footer{
    background-color: #343a40ab !important;
}
footer.fixed-bottom{
    z-index: 1 !important;
}

.app-theme-white.app-container {
    background: none !important;
}


body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #1e2023;
}

/* ***** LOADER ***** */
.loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #fff;
    z-index: 0;
}

.loader-section.section-left {
    left: 0;
}

.loader-section.section-right {
    right: 0;
}

#loading{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    margin-top: 0px;
    top: 300px;
}

#loading-center{
    margin: 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}

.move_left{
    transform: translateX(-100%);
    transition: ease 2s;
}

.move_right{
    transform: translateX(100%);
    transition: ease 2s;
}

.sk-circle {
    margin: 100px auto;
    width: 25px;
    height: 150px;
    position: relative;
}
.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #007be4;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg); }
.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg); }
.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg); }
.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg); }
.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg); }
.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg); }
.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg); }
.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg); }
.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* ***** INDEX.HTML ***** */

.app-login-box{
    margin-top: 8%;
}
.forget_password{
    display: inline-block;
    margin-bottom: 10px;
    color: dodgerblue !important;
}

.form_log_1{
    margin: 0 auto !important;
    text-align: center !important;  
    padding: 20px 10px;
}

#loginForm{
    width: 35%;
    margin: 0 auto;
    border-radius: 0 !important;
    background-color: #ffffff !important;

}

#notMember{
    width: 50%;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 5px;
    vertical-align: middle;
    height: 40px;
    text-align: center;
    display: block;
    padding-top: 8px;
}

.forget_password{
    font-size: 13px !important;
}

.text-index{
    position: absolute;
    top: 25%;
}
@media screen and (min-width: 1600px) {
    .text-index-2{
        top: 36%;
        left: 14%;
    }
}   

@media screen and (max-width: 1500px) {
    .text-index-2{  
        top: 33%;
        left: 14%;
    }
}
/* ***** INSCRIPTION_USER.HTML ***** */

@media screen and (max-width: 1500px) {
    #subscribe-card {
        width: 132%;
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 1500px) {
    #containerFormSubscription > .divider.row{
        width: 136%;
    }
}

#subscribe-card {
    min-height: 40px;
    padding: 20px 40px 0 40px;
}
#subscribe-card .card-body{
    display: flex;
    align-items: center;
}

#subscribe-card .form-group{
    padding: 20px;
}

#btn-next-sub1{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    right:00%;
    color: #3f6ad8;
}

#btn-next-sub2{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    right:00%;
    color: #3f6ad8;
}

#btn-next-sub3{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    right: -3.5%;
    color: #3f6ad8;
}

#btn-prev-sub2{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    left: 0%;
    color: #3f6ad8;
}

#btn-prev-sub3{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    left: -3%;
    color: #3f6ad8;
}

#btn-prev-sub4{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    left: -2.5%;
    color: #3f6ad8;
}

#btn-prev-sub5{
    margin-top: 50px !important;
    font-size: 2.5rem;
    border-radius: 30px;
    cursor: pointer;
    padding: 0;
    float: right;
    position: absolute;
    top: 25%;
    left: -2.5%;
    color: #3f6ad8;
}


#btn-next-sub1:hover > i,
#btn-next-sub2:hover > i,
#btn-next-sub3:hover > i,
#btn-prev-sub2:hover > i,
#btn-prev-sub3:hover > i,
#btn-prev-sub4:hover > i,
#btn-prev-sub5:hover > i{
    cursor: pointer;
    background-color: #3f6ad8;
    color: white;
    border-radius: 30px;
}

#subscribeForm{
    width: 100%;
}

#containerFormSubscription{
    margin-top: 25%;
}

@media screen and (max-width: 1500px) {
    #containerFormSubscription{
        margin-top: 21%;
        margin-left: 1% !important;
        max-width: 720px !important;
    }
}

#subscribeForm .tab-pane .card-body{
    border-radius: 75px;
    margin-bottom: 0 !important;
    margin-top: 30px;
}

.img-plan-sub{
    position: absolute;
    top: -10%;
    width: 35%;
}

.img-plan-resume{
    width: 32%;
    margin: 0 auto;
}
.offer-name{
    position: absolute;
    padding: 5px 20px;
    font-size: 2rem;
    top: -30px;
    border-radius: 32px;
    color: #4d4545;
}

.offer-name-sub{
    padding: 5px 20px;
    font-size: 2rem;
    border-radius: 32px;
    color: #4d4545;
    margin: 0 auto;
    margin-bottom: 20px;        
    margin-top: 20px;        
}

.price{
    font-size: 1.7rem;
}

.text-subscribe{
    position: absolute;
    top: 24%;
}

@media screen and (max-width: 1500px) {
    .text-subscribe{
        position: absolute;
        top: 21%;
        font-size: 2rem !important;
    }
}

.number-tab-sub{
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #ced4da;
    color: #fff;
    position: absolute;
    left: 38%;
    top: -26%;
    font-weight: 100;
}

.number-tab-sub.active{
    background-color: #3f6ad8;
    color: white;
}

#tab1, #tab2, #tab3, #tab4, #tab5{
    position: absolute;
    top: 26px;
}

#tab1::before,
#tab2::before,
#tab3::before,
#tab4::before,
#tab5::before{
    bottom: 50px !important;
    background: #dee2e6;
    opacity: inherit;
}

@media screen and (max-width: 1500px) {
    #tab1::before, #tab2::before{
        bottom: 71px !important;
    }
}

#tab1.active::before,
#tab2.active::before,
#tab3.active::before,
#tab4.active::before,
#tab5.active::before{
    background: #3f6ad8;
}

.form-check{
    margin-top: 10px;
    padding: 0;
    animation: bounceIn 1s;
}

#resumeAbo{
    padding: 22.5px;
}

#resumeNombreMois{
    position: absolute;
    top: 42%;
    left: 3%;
}

#resumePrix{
    position: absolute;
    top: 42%;
    right: 3%;
}

#card4 > .form-row{
    margin: 50px 0;
}

#buttonGo{
    position: absolute;
    left: 38%;
    z-index: 1;
    top: 43%;
    font-size: 2.5rem;
    font-weight: 300;
}
#buttonGo:active {
    animation: bounceOut 1s;
}

@media screen and (max-width: 1500px) {
    #buttonGo{
        left: 47%;
    }
}

@media screen and (max-width: 1500px) {
    #buttonGo{
        left: 47%;
    }
}

#paypal-button-container{
    max-width: 200px !important;
    margin: 0 auto;
}

#inp-forfait{
    color: #3f6ad8 !important;
    background-color: transparent !important;
    border: none !important;
    max-width: 140px;
    width: auto !important;
    font-weight: inherit;
    height: 53px;
}

/* ***** TENANT.HTML ***** */
#sidebarMenu, #sidebarUser{
    min-width: 75px;
    max-width: 75px;
    background-color: #ffffff;
    position: fixed;
    height: 100vh;
    transition: all 0.3s;
    text-align: center;
}

#sidebarMenu li, #sidebarUser li{
    padding: 10px;
}

#sidebarMenu.active, #sidebarUser.active{
    min-width: 125px !important;
}

#sidebarMenu{
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
}

#sidebarUser{
    top: 0;
    right: 0;
    z-index: 1;
    transition: all 0.3s;
}

#dashContent{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 15%;
}

.dash-card-button:hover {
    transition: all 200ms ease-in;
    transform: scale(1.1);
}
.dash-card-button > .card{
    cursor: pointer;
}

#cardMessages .card-header{
    color: white;
}

.sidebar-content{
    text-transform: uppercase;
    font-size: .8rem;
    margin: .75rem 0;
    font-weight: bold;
}

#logoutBut{
    margin-left: 0px !important;
    color: firebrick !important;
    opacity: 1;
    font-weight: bold;
}

#logoutLi{
    padding-bottom: 15px;
}

#logoutLi:hover{
    width: 232px;
}

#messBut{
    margin-left: 0px !important;
    color: dodgerblue!important;
    opacity: 1;
    font-weight: bold;       
}

#messLi{
    position: fixed;
    bottom: 8%;
}

#messLi:hover{
    width: 232px;
}

#dashLi{
    position: fixed;
    bottom: 14%;
}

#dashLi:hover{
    width: 232px;
}

.dash-card{
    padding: 0px 10px 10px 0px !important;
}

.dash-card-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
#tab-content-1 > div > div:nth-child(1) > div > div.card-body > div > table > tbody > tr{
    cursor: pointer;
}

#dashBut{
    margin-left: 0px !important;
    color: coral;
    opacity: 1;
    font-weight: bold;       
}

li.fixed-bottom{
    right: initial !important;
    left: initial !important;
}

.app-sidebar-li{
    padding-top: 12px !important;
}

.app-sidebar-icon{
    opacity: 1 !important;
}

.app-page-title {
    padding: 15px !important;
}

#bottomHeadingMess{
    position: fixed;
    bottom: 6%;
    width: 32px;
}

#bottomHeadingDash{
    position: fixed;
    bottom: 12%;
    width: 32px;
}

#imgLogo{
    top: 4%;
    position: absolute;
    left: 1%;
}

/* ***** MANAGE CLIENTS ***** */
.profile-card-body {
    padding: 0;
}

.profile-card-header{
    height: 100%;
    width: 100%;
    z-index: 8;
}

.profile-card{
    padding: .5rem;
    padding: .5rem;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    z-index: 10;
    color: #fff;
    width: 100%;
}

.profile-card-avatar{
    display: inline-block;
    position: relative;
}

.avatar-rounded{
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 100px !important;
    border: #fff solid 3px;
    overflow: hidden;
    opacity: 1;
}

.avatar-rounder > img{
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

.profile-card-names{
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    margin: 0;
}

.profile-card-role{
    margin: 5px 0 0;
    opacity: .8;
}

.profile-card-infos{
    text-transform: initial !important;
}

.btn-pill{
    border-radius: 50px;
}
.profile-card-header-button{
    margin: 0 0 0 auto;
}


.list-group-item:hover {
    z-index: initial;
}

.list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.list-group-item:hover, .list-group-item:focus {
    text-decoration: none;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.125);
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.p-2 {
    padding: .5rem !important;
}

.grid-menu .btn {
    display: block;
    border: 0;
    min-width: 100%;
    padding: 20px !important;
    font-size: 15px;
}

.btn-icon-vertical.btn-transition-text.btn-transition-alt:hover .btn-icon-wrapper {
    color: #fff !important;
}

.btn-icon-vertical.btn-transition-text:hover .btn-icon-wrapper {
    transform: scale(1.3);
}

.btn-icon-vertical.btn-transition-text .btn-icon-wrapper {
    transition: all .2s !important;
}

.btn-icon-vertical .btn-icon-wrapper {
    display: block;
    font-size: 200%;
    margin: 5px 0;
    opacity: .6;
}

.profile-card-menu-1{
    border-right: #dee2e6 solid 1px;
}

.profile-card-menu-2{
    border-left: #dee2e6 solid 1px;
}

.profile-card-menu-3{
    border-top: #dee2e6 solid 1px;
    border-right: #dee2e6 solid 1px;
}

.profile-card-menu-4{
    border-top: #dee2e6 solid 1px;
    border-left: #dee2e6 solid 1px;
}

.profile-card-menu-5{
    border-right: #dee2e6 solid 1px;
}

.profile-card-menu-6{
    border-top: #dee2e6 solid 1px; 
}

.btn-manage{
    width: 100%;
    height: 150px;
    font-size: 20px;
}

.btn-manage-accounts{
    font-size: 25px !important;
}

/* FEUILLES DE TEMPS CONSULTANT */
.table-responsive{
    padding: 20px;
}

.clockpicker{
    width: 75% !important;
    margin: 0 auto;
}

.clock-td{
    width: 15%;
}

.clockpicker input{
    border-radius: 25px;
    text-align: center;
}

#timeSheetLoader{
    margin-top: 10%;
    margin-bottom: 10%;
}

.invisible{
    margin: 0!important;
}

#saveHour{
    font-size: 30px;
    color: #3f6ad8;
    right: 42%;
    top: 1%;
    position: absolute;
}

#prevTimesheet{
    border-radius: 25px;
    margin-right: 10px;
    color: #3f6ad8;
}

#nextTimesheet{
    border-radius: 25px;
    margin-left: 10px;
    color: #3f6ad8;
}

#backTimesheet{
    border-radius: 25px;
}

#prevTimesheet:hover{
    color: white;
}

#nextTimesheet:hover{
    color: white;
}

#timeSheetStatus{
    position: absolute;
    left: 45.5%;
    top: 8%;
    width: 90px;
}

#periodTimesheet{
    padding-bottom: 30px;
}

/* FEUILLES DE TEMPS CLIENT */
#theadTimeSheetClient > thead > tr > th{
    width: 25% !important;
}

.trTimeSheetClient{
    width: 100%;
    margin: 0;
}

.card-header > div > div > div > div{
    width: 100%;
    text-align: center !important;;

}

#accordion > div > div{
    padding: 0.7rem 0 0.7rem 0 !important;;
}

.card-header > div.container{
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
}

.card-header.inbox-cd{
    cursor: pointer;
}

.card-header.timesheet-cd{
    cursor: pointer;
}

.accordion-li { 
    position:absolute;
    margin-top: 4%;
    font-size: 20px;
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
    transition: all 300ms ease-in 0s;
}

[data-toggle="collapse"] .accordion-li:before {  
    content: "\f078";
}

[data-toggle="collapse"].collapsed .accordion-li:before {
    content: "\f054";
}

/* INBOX */
.notif{
    color: #3f6ad8;
}

#listNotifications > tr{
    cursor: pointer;
}

#notificationIcon{
    color: #d92550;
    top: -10px !important;
    right: -10px !important;
    padding: 5px 2px !important;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.flash {
    animation-name: flash;
}

.trInbox{
    width: 100%;
    margin: 0;
}

#accordion > .card > div:nth-child(2){
    background-color: #16aaff2e;
}

#toast-container{
    top: 9%;
    right: 1%;
}

/* ***** CONFIRMATION ***** */
#dashboardConfirmation{
    position: absolute;
    bottom: 25%;
    border-radius: 26px;
    font-size: 1rem;
}

.text-confirmation > span:nth-child(1){
    margin-bottom: 80px;
}

.alert-conf{
    top: 50px;
    text-align: center;
}
/**
* Extracted from: SweetAlert
* Modified by: Istiak Tridip
*/
.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;
    top: 26%;
    left: 46%;
}
.success-checkmark .check-icon {
    width: 80px;
    height: 80px;
    position: relative;
    border-radius: 50%;
    box-sizing: content-box;
    border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
    top: 3px;
    left: -2px;
    width: 30px;
    transform-origin: 100% 50%;
    border-radius: 100px 0 0 100px;
}
.success-checkmark .check-icon::after {
    top: 0;
    left: 30px;
    width: 60px;
    transform-origin: 0 50%;
    border-radius: 0 100px 100px 0;
    animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
    content: '';
    height: 100px;
    position: absolute;
    background: #fff;
    transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
    height: 5px;
    background-color: #4caf50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
    top: 46px;
    left: 14px;
    width: 25px;
    transform: rotate(45deg);
    animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
    top: 38px;
    right: 8px;
    width: 47px;
    transform: rotate(-45deg);
    animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
    top: -4px;
    left: -4px;
    z-index: 10;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-sizing: content-box;
    border: 4px solid rgba(76, 175, 80, .5);
}
.success-checkmark .check-icon .icon-fix {
    top: 8px;
    width: 5px;
    left: 26px;
    z-index: 1;
    height: 85px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: #fff;
}
@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

/* Failde checkmark from https://codemyui.com/ghost-check-mark-close-icon-animation/ */
svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
}
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
}
.path.circle {
    -webkit-animation: dash 0.9s ease-in-out;
    animation: dash 0.9s ease-in-out;
}
.path.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
    animation: dash 0.9s 0.35s ease-in-out forwards;
}
@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}


.error-mark{
    position: absolute;
    top: 21%;
}

/* ***** RESET PASSWORD ***** */
.text-reset-password{
    top: 24%;
}

.app-reset-password-box{
    top: 20%;
}

/* ***** UTILITIES ***** */
.bg-happy-fisher-reverse{
    background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%) !important;
}

.bg-tempting-azure-reverse {
    background-image: linear-gradient(120deg, #8fd3f4 0%, #84fab0 100%) !important;
}

.bg-amy-crisp-reverse {
    background-image: linear-gradient(120deg, #f68084 0%, #a6c0fe 100%) !important;
}

.bg-midnight-bloom-soft{
    background-image: linear-gradient(261deg, #0774bc 0%, #4e4376 100%) !important;
}

.bg-soft-sky{
    background-image: linear-gradient(275deg, #ffffff 0%, #61a0cf 100%) !important;
}
.progress-bar{
    border-radius: 25px;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.progress {
    border-radius: 25px;
}

/* ***** DASHBOARD **** */
#totalNbMonth{
    border-radius: 25px 0 0 25px !important;
}

#totalNbMonthReste{
    border-radius: 0 25px 25px 0 !important;
}

/* ***** SUBSCRIPTION ***** */
#tab-facture > div > div > div > table > tbody > tr:hover,
#tab-transactions > div > div > div > table > tbody > tr:hover{
    background-color: #1197eb !important;
}

.bill-state{
    font-size: 1.3rem;
}

.img-plan{
    width: 60%;
    margin: 0 auto;
}

/* RENEW SUBSCIPTION */
.text-renew-sub{
    position: absolute;
    top: 18%;
}

#containerFormRenewSubscription{
    margin-top: 18%;
}

/* MODIFY SUBSCIPTION */
.text-modify-sub{
    position: absolute;
    top: 18%;
}

#containerFormModifySubscription{
    margin-top: 18%;
}