<!--
Follow me on
Dribbble: https://dribbble.com/supahfunk
Twitter: https://twitter.com/supahfunk
Codepen: https://codepen.io/supah/

Picture by Ales Krivec https://unsplash.com/photos/ZSI-wuA49T0
-->
<head>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
    <style>
        ::selection {
            background: #cdd4de;
        }

        /*--------------------
        Page
        --------------------*/
        .page {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 1;
            font-family: Roboto, sans-serif;
            background: #0d0c1e;
            overflow: hidden;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        }

        /*--------------------
        Content
        --------------------*/
        .content {
            text-align: center;
            color: #111213;
        }
        .content h1 {
            font-weight: 900;
            font-size: 165px;
            line-height: 1;
            margin-bottom: -10px;
            opacity: 0.7;
            margin-top: 0%;
        }
        .content h2 {
            font-weight: 900;
            font-size: 34px;
            margin-bottom: 6px;
            opacity: 0.7;
            text-transform: uppercase;

        }
        .content a {
            display: inline-block;
            font-weight: 300;
            font-size: 12px;
            text-transform: uppercase;
            border: 1px solid #cdd4de;
            padding: 8px 14px;
            border-radius: 4px;
            opacity: 0.8;
            cursor: pointer;
            background-color: whitesmoke;
            color: black;
            text-decoration: none;
        }

        .content a:hover{
            opacity: 1;
        }
        /*--------------------
        Image
        --------------------*/
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            z-index: -1;
            transform: scale(1.1);
        }

    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>
        var lFollowX = 0,
            lFollowY = 0,
            x = 0,
            y = 0,
            friction = 1 / 30;

        function animate() {
            x += (lFollowX - x) * friction;
            y += (lFollowY - y) * friction;

            translate = "translate(" + x + "px, " + y + "px) scale(1.1)";

            $("img").css({
                "-webit-transform": translate,
                "-moz-transform": translate,
                transform: translate
            });

            window.requestAnimationFrame(animate);
        }

        $(window).on("mousemove click", function(e) {
            var lMouseX = Math.max(
                -100,
                Math.min(100, $(window).width() / 2 - e.clientX)
            );
            var lMouseY = Math.max(
                -100,
                Math.min(100, $(window).height() / 2 - e.clientY)
            );
            lFollowX = 20 * lMouseX / 100; // 100 : 12 = lMouxeX : lFollow
            lFollowY = 10 * lMouseY / 100;
        });

        animate();
    </script>
</head>
<body>
    <div class="page">
        <div class="content">
            <h1>404</h1>
            <h2>Page not found</h2>
            <a href="javascript:history.back()">Retour</a>
        </div>
        <img src="{{ url_for('static', filename='images/bg.jpeg') }}" />
    </div>
</body>