{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Gestion des Comptes - {{ account_type }}</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Gestion des Comptes - {{ account_type }}</div>
                </div>
                <div class="page-title-actions">
                    {% if account_type == "Consultants" %}
                        <button onclick="location.href='/new/user/consultant';" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-pill btn-shadow mr-3 btn btn-success btn-manage-accounts" data-original-title="Ajouter un compte">
                            <i class="pe-7s-add-user"></i>
                        </button>
                        <button onclick="location.href='/delete/consultant';" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-pill btn-shadow mr-3 btn btn-danger btn-manage-accounts" data-original-title="Supprimer un compte">
                            <i class="pe-7s-delete-user"></i>
                        </button>
                    {% elif account_type == "Clients" %}
                        <button onclick="location.href='/new/user/client';" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-pill btn-shadow mr-3 btn btn-success btn-manage-accounts" data-original-title="Ajouter un compte">
                            <i class="pe-7s-add-user"></i>
                        </button>
                        <button onclick="location.href='/delete/client';" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-pill btn-shadow mr-3 btn btn-danger btn-manage-accounts" data-original-title="Supprimer un compte">
                            <i class="pe-7s-delete-user"></i>
                        </button>
                    {% else %}
                    
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    {% for account in accounts %}

                    <div class="col-md-3">
                        <div class="main-card mb-3 card  animated bounceIn">
                            <div class="card-header profile-card-header bg-night-sky">
                                <div class="profile-card">
                                    <div class="profile-card-avatar mr-3">
<!--
                                        <div class="avatar-rounded mr-3">
                                            <img src="#" alt="Avatar" witdh="30" height="30"/>
                                        </div>
-->
                                        <i class="pe-7s-user icon-gradient bg-malibu-beach" style="font-size: 3.5rem;"></i>
                                    </div>

                                    <div class="profile-card-infos">
                                        {% if account_type == "Consultants" %}
                                            <h5 class="profile-card-names">{{ account.nom }} {{ account.prenom }}</h5>
                                            <h6 class="profile-card-role">{{ account.entreprise }}</h6>
                                        {% elif account_type == "Clients" %}
                                            <h5 class="profile-card-names">{{ account.nom_client }}</h5>
                                            <h6 class="profile-card-role">{{ account.telephone }}</h6>
                                            <h6 class="profile-card-role">{{ account.adresse }}</h6>
                                        {% else %}
                                        {% endif %}
                                    </div>

                                    <div class="profile-card-header-button">
                                        <button type="button" class="btn-wide btn-pill btn btn-warning">Messages</button>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-body profile-card-body" id="profile_{{ account.nom_client }}">
                                <ul class="list-group list-group-flush">
                                    <li class="p-0 list-group-item">
                                        <div class="grid-menu grid-menu-2col">
                                            <div class="no-gutters row">

                                                {% if account_type == "Consultants" %}

                                                <div class="col-sm-6 profile-card-menu-1">
                                                    <div class="p-2">
                                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                                            <i class="pe-7s-date text-success opacity-7 btn-icon-wrapper mb-2"> </i>Feuilles de Temps
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-2">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/ressources/{{ account.email }}/consultant';"class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                            <i class="pe-7s-note2 text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Ressources
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-3">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/profile/{{ account.email }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                                            <i class="pe-7s-display2 text-info opacity-7 btn-icon-wrapper mb-2"> </i>Profil
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-4">
                                                    <div class="p-2">
                                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
                                                            <i class="pe-7s-config text-focus opacity-7 btn-icon-wrapper mb-2"> </i>Options
                                                        </button>
                                                    </div>
                                                </div>

                                                {% elif account_type == "Clients" %}

                                                <div class="col-sm-6 profile-card-menu-5">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/manageContacts/{{ account.nom_client }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                            <i class="pe-7s-users text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Contacts
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/profile/{{ account.nom_client }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                                            <i class="pe-7s-display2 text-info opacity-7 btn-icon-wrapper mb-2"> </i>Profil
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 profile-card-menu-6">
                                                    <div class="p-2">
                                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
                                                            <i class="pe-7s-config text-focus opacity-7 btn-icon-wrapper mb-2"> </i>Options
                                                        </button>
                                                    </div>
                                                </div>

                                                {% else %}

                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}