{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Ajouter une Dotation</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Ajouter une Dotation</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form action="/add/dotation/{{ account_email }}/{{ rtype }}" method="post">
                                <div class="form-row">
                                    <div class="col-md-4">
                                        <div class="position-relative form-group">
                                            <label for="date_dotation" class="">Date de la Dotation</label>
                                            <input name="date_dotation" id="date_dotation" placeholder="Date de l'avenant" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="position-relative form-group">
                                            <label for="ordre_achat_dotation" class="">Ordre d'Achat</label>
                                            <select name="ordre_achat" id="ordre_achat_dotation" class="form-control" >
                                                <option value>Ordre d'Achat</option>
                                                {% for ordre_achat in ordre_achats %}
                                                    <option value="{{ ordre_achat.id }}">{{ ordre_achat.id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="position-relative form-group">
                                            <label for="ouvert_dotation" class="">Ouvert</label>
                                            <select name="ouvert" id="ouvert_dotation" class="form-control" >
                                                <option value="True">Oui</option>
                                                <option value="False">Non</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-success btn-center" value="Ajouter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}