{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Ajouter un Ordre d'Achat</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Ajouter un Ordre d'Achat</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form action="/add/ordre_achat/{{ account_email }}/{{ rtype }}" method="post">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="date_oa" class="">Date de l'Ordre d'Achat</label>
                                            <input name="date_oa" id="date_oa" placeholder="Date de l'Ordre d'Achat" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="soumission_oa" class="">Soumission</label>
                                             <select name="soumission_id" id="soumission_oa" class="form-control">
                                                <option value>Soumission</option>
                                                 {% for soumission in soumissions %}
                                                    <option value="{{ soumission.id }}">{{ soumission.id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="date_debut_oa" class="">Date de Début</label>
                                            <input name="date_debut" id="date_debut_oa" placeholder="Date de début de l'Ordre d'Achat" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="date_fin_oa" class="">Date de Fin</label>
                                            <input name="date_fin" id="date_fin_oa" placeholder="Date de fin de l'Ordre d'Achat" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-success btn-center" value="Ajouter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}