{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Ajouter une Soumission</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Ajouter une Soumission</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form action="/add/soumission/{{ account_email }}/{{ rtype }}" method="post">
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="date_soumission" class="">Date de la Soumission</label>
                                            <input name="date_soumission" id="date_soumission" placeholder="Date de la Soumission" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="recruteur_soumission" class="">Recruteur</label>
                                            <select name="recruteur" id="recruteur_soumission" class="form-control">
                                                <option value>Recruteur</option>
                                                {% for recruteur in recruteurs %}
                                                    <option value="{{ recruteur.id }}">{{ recruteur.nom }} {{ recruteur.prenom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="client_soumission" class="">Client</label>
                                            <select name="client" id="client_soumission" class="form-control">
                                                <option value>Client</option>
                                                {% for client in clients %}
                                                    <option value="{{ client.id }}">{{ client.nom }} {{ client.prenom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="consultant_soumission" class="">Consultant</label>
                                            <select name="consultant" id="consultant_soumission" class="form-control">
                                                <option value>Consultant</option>
                                                {% for consultant in consultants %}
                                                    <option value="{{ consultant.id }}">{{ consultant.nom }} {{ consultant.prenom }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="demande_id" class="">Demande</label>
                                            <select name="demande_id" id="demande_id" class="form-control">
                                                <option value>Demande</option>
                                                {% for demande in demandes %}
                                                    <option value="{{ demande.id }}">{{ demande.id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="taux_horaire" class="">Taux Horaire</label>
                                            <input name="taux_horaire" id="taux_horaire" placeholder="Taux Horaire" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="duree_soumission" class="">Durée</label>
                                            <input name="duree" id="duree_soumission" placeholder="Durée" type="number" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="position-relative form-group">
                                            <label for="details_soumission" class="">Détails</label>
                                            <textarea name="details" id="details_soumission" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-success btn-center" value="Ajouter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}