{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Ajouter un {{ user_type }}</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Ajouter un {{ user_type }}</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <form action="/add/user/{{ user_type }}" method="post">
                                
                                {% if user_type == "recruiter" %}
                                {% elif user_type == "consultant" %}
                                {% elif user_type == "client" %}
                                {% else %}
                                {% endif %}
                                
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="date_avenant" class="">Date de l'Avenant</label>
                                            <input name="date_avenant" id="date_avenant" placeholder="Date de l'avenant" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="date_fin_avenant" class="">Date de fin</label>
                                            <input name="date_fin" id="date_fin_avenant" placeholder="Date de Fin" type="date" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="ordre_achat_avenant" class="">Ordre d'Achat</label>
                                            <select name="ordre_achat" id="ordre_achat_dotation" class="form-control" >
                                                <option value>Ordre d'Achat</option>
                                                {% for ordre_achat in ordres_achat %}
                                                    <option value="{{ ordre_achat.id }}">{{ ordre_achat.id }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="contact_avenant" class="">Contact</label>
                                            <input name="contact" id="contact_avenant" type="text" class="form-control" placeholder="Contact">
                                        </div>
                                    </div>
                                </div>
                                <input type="submit" class="btn btn-outline-success btn-center" value="Ajouter"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}