{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Facture n° {{ facture.id }}</title>  
    <script src="https://www.paypal.com/sdk/js?client-id=AY6qLVdr_oibBBF7SoZxDyKjF77pJcrnlTOP1clcMZCP-rHuujkWrGB4KN44opppQ3XVdqGdYK4okXTt&currency=CAD"></script>
    <script>
        var paypal_button = document.getElementById("paypal-button-container");
        if (paypal_button != null){
            paypal.Buttons({
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: {{ facture.sous_total }}
                        }
                                         }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        var transaction_id = details.id;
                        var transaction_date = details.create_time;
                        var transaction_price = details.purchase_units[0].amount.value;
                        var transaction_status = details.status;

                        // save transaction info
                        var date_facture = transaction_date.substr(0,10);
                        var mois = parseInt(date_facture.substr(5,7)) - 1;
                        var annee = parseInt(date_facture.substr(0,4));

                        add_transaction('{{ user_infos[2] }}', date_facture, transaction_price, transaction_id, transaction_status);
                    });
                },
                onCancel: function (data) {

                },

                style: {
                    layout:  'horizontal',
                    color:   'blue',
                    shape:   'pill',
                    label:   'pay',
                    tagline: 'false'
                }
            }).render('#paypal-button-container');
        }
        function animatedJello(){
            var img = document.getElementsByClassName("img-plan")[0];
            img.classList.add("animated");
            img.classList.add("jello");

            setTimeout(function(){
                img.classList.remove("animated");
                img.classList.remove("jello");                       
            }, 500); 
        }
    </script>    
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon p-0">
                        <i class="fas fa-money-check-alt icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    Facture : {{ facture.details }}
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-3 col-xl-3"></div>
                    <div class="col-md-6 col-xl-6">
                        <div class="mb-3 card card-body dash-card animated bounceIn" style="min-height: 93.3%;">
                            <div class="card-header">
                                {{ facture.details }}
                            </div>                            
                            <div class="card-body dash-card-body" style="justify-content: initial;">
                                <ul class="list-group list-group-flush">

                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Accés à la plateforme </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-primary" id="totalMonthSubscription">{{ '%0.2f'| format(facture.mensualite|float) }} $</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Total des feuilles de temps</div>
                                                        <div class="widget-subheading" id="actualMonthSubscription">{{ total_consultants|int }} 
                                                            {% if total_consultants|int > 1 %}
                                                            consultants
                                                            {% else %}
                                                            consultant
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-info" id="totalMonthSubscription"><span>x{{ facture.nbr_feuille }}</span><span><i class="pe-7s-angle-right"></i></span><span>{{ '%0.2f'| format(facture.nbr_feuille * facture.cout_feuille|float) }} $ </span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="widget-content p-0">
                                            <div class="widget-content-outer">
                                                <div class="widget-content-wrapper">
                                                    <div class="widget-content-left">
                                                        <div class="widget-heading">Total pour le mois de</div>
                                                        <div class="widget-subheading">{{ str_mois }} {{ facture.annee }}</div>

                                                    </div>
                                                    <div class="widget-content-right">
                                                        <div class="widget-numbers text-success" id="totalMonthSubscription">{{ '%0.2f'| format(facture.sous_total|float) }} $</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% if facture.etat == 'non payee' %}
                                    <li class="list-group-item pb-0">
                                        <div class="text-center"><h1 class="text-info">Facture non payée !</h1></div>
                                        <div class="btn-center" id="paypal-button-container"></div>
                                    </li>
                                    {% else %}
                                    <li class="list-group-item pb-0">
                                        <div class="text-center"><h1 class="text-info">Facture payée !</h1></div>
                                        <div id="exampleAccordion" data-children=".item">
                                            <div class="item">
                                                <button type="button" aria-expanded="true" aria-controls="exampleAccordion1" data-toggle="collapse" href="#collapseExample" class="m-0 p-0 btn btn-link btn-center">Voir les détails de la transaction</button>
                                                <div data-parent="#exampleAccordion" id="collapseExample" class="collapse" style="">
                                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th class="text-center">#</th>
                                                                <th class="text-center">Date</th>
                                                                <th class="text-center">Facture</th>
                                                                <th class="text-center">Montant</th>
                                                                <th class="text-center">Statut</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td class="text-center"><a href="https://www.sandbox.paypal.com/" target="_blank"><b>{{ transaction.id_paypal}}</b></a></td>
                                                                <td class="text-center">{{ transaction.date }}</td>
                                                                <td class="text-center">{{ transaction.id_facture }}</td>
                                                                <td class="text-center">{{ '%0.2f'| format(transaction.montant|float) }} $</td>
                                                                <td class="text-center text-success">{{ transaction.status }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}