{% extends "layout.html" %}
{% block home %}
<head>
    <title>Annuler l'abonnement</title>        
    <script src="https://www.paypal.com/sdk/js?client-id=AY6qLVdr_oibBBF7SoZxDyKjF77pJcrnlTOP1clcMZCP-rHuujkWrGB4KN44opppQ3XVdqGdYK4okXTt&currency=CAD"></script>
    <script type="text/javascript">

        function load_informations(){
            var paypal_button = document.getElementById("paypal-button-container");
            if (paypal_button != null){
                if (paypal_button.childElementCount == 0){
                    paypal.Buttons({
                        createOrder: function(data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: {{ total_factures }}
                                }
                                                 }]
                            });
                        },
                        onApprove: function(data, actions) {
                            return actions.order.capture().then(function(details) {
                                var transaction_id = details.id;
                                var transaction_date = details.create_time;
                                var transaction_price = details.purchase_units[0].amount.value;
                                var transaction_status = details.status;

                                // save transaction info
                                var date_facture = transaction_date.substr(0,10);
                                var mois = parseInt(date_facture.substr(5,7)) - 1;
                                var annee = parseInt(date_facture.substr(0,4));

                                payAllBill('{{ user_infos[2] }}', '{{ user_infos[4] }}', date_facture,                     transaction_price, transaction_id, transaction_status);

                                setTimeout(function(){    
                                    var bill_status = document.getElementsByClassName("bill-state");

                                    for(var i=0; i<bill_status.length; i++){
                                        bill_status[i].classList.remove("fa-times");
                                        bill_status[i].classList.remove("text-danger");
                                        bill_status[i].classList.add("fa-check-double");
                                        bill_status[i].classList.add("text-success");  

                                        $("#tab2").removeClass("active");
                                        $("#tab3").addClass("active");
                                        $("#tab2num").removeClass("active");
                                        $("#tab2num").addClass("bg-happy-green");
                                        $("#tab2num").html("<i class='pe-7s-check form-check'></i>");
                                        $('#tab2').append('<style>#tab2:before{background:#3ac47d;}</style>');
                                        $("#tab3num").addClass("active");
                                        $("#card2").removeClass("active");
                                        $("#card3").addClass("active");
                                    }
                                }, 100);
                            });
                        },
                        onCancel: function (data) {

                        },

                        style: {
                            layout:  'horizontal',
                            color:   'blue',
                            shape:   'pill',
                            label:   'pay',
                            tagline: 'false'
                        }
                    }).render('#paypal-button-container');
                }
            }
        }    
    </script>
    <script src="{{ url_for('static', filename='js/cancelSubscription.js') }}"></script>
    <style>
        #tab1::before, #tab2::before{
            bottom: 50px !important;
        }

    </style>
</head>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-subscribe" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    <h4 class="mb-0 text-center text-renew-sub display-5" id="texteTab">
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Annuler votre </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">abonnement</font></font></span></span>
                    </h4>                    
                    <button onclick="location.href='/subscription';" class="btn btn-center btn-focus btn-back" type="button" data-toggle="tooltip" data-placement="right" title data-original-title="Retour à mon abonnement"><i class="pe-7s-back"></i></button>
                    <div class="mx-auto col-sm-12 col-md-10 col-lg-11" id=containerFormRenewSubscription>
                        <div class="divider row"></div>
                        <div class="card-shadow-primary border mb-0 card card-body border-primary" id="subscribe-card">
                            <div class="card-header card-header-tab-animation">
                                <ul class="nav nav-justified">
                                    <li class="nav-item active"><a id="tab1" class="nav-link active show">Votre Abonnement</a><div id="tab1num" class="number-tab-sub active" style="left: 45%; top: -26%;"><a>1</a></div></li>
                                    <li class="nav-item"><a id="tab2" class="nav-link show">Détails</a><div id="tab2num" class="number-tab-sub" style="left: 45%; top: -26%;"><a>2</a></div></li>
                                    <li class="nav-item"><a id="tab3" class="nav-link show">Confirmation</a><div id="tab3num" class="number-tab-sub" style="left: 45%; top: -26%;"><a>3</a></div></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <form method="post" class="" id="subscribeForm">
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="card1" role="tabpanel">
                                            <div class="form-row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3 card card-body" id="card{{ abonnement.offre[0]|upper }}{{ abonnement.offre[1:] }}">
                                                        {% if abonnement.offre == 'bronze' %}
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/bronze.png') }}"/>
                                                        {% elif abonnement.offre == 'silver' %}
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/silver.png') }}"/>
                                                        {% else%}
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/gold.png') }}"/>
                                                        {% endif %}
                                                        <br>
                                                        <br>
                                                        <br>
                                                        {% if abonnement.offre == 'bronze' %}
                                                        <h6><em>Gestion de 10 consultants</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                        <h6><em>Gestion de 25 consultants</em></h6>
                                                        {% else%}
                                                        <h6><em>Gestion illimitées de consultants</em></h6>
                                                        {% endif %}

                                                        {% if abonnement.offre == 'bronze' %}
                                                        <h6><em>Accés à 10.00$ par mois</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                        <h6><em>Accés à 20.00$ par mois</em></h6>
                                                        {% else%}
                                                        <h6><em>Accés à 35.00$ par mois</em></h6>
                                                        {% endif %}

                                                        {% if abonnement.offre == 'bronze' %}
                                                        <h6><em>1.00$ par feuille de temps</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                        <h6><em>0.80$ par feuille de temps</em></h6>
                                                        {% else%}
                                                        <h6><em>0.70$ par feuille de temps</em></h6>
                                                        {% endif %}

                                                        <br>
                                                        <div class="position-relative price">
                                                            {% if abonnement.offre == 'bronze' %}
                                                            <label>50.00$ / mois</label>
                                                            {% elif abonnement.offre == 'silver' %}
                                                            <label>100.00$ / mois</label>
                                                            {% else%}
                                                            <label>175.00$ / mois</label>
                                                            {% endif %}
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </div>
                                                        <br>
                                                        <div class="position-relative">
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">* </font></font></span><label>
                                                            <small>
                                                                {% if abonnement.offre == 'bronze' %}
                                                                10.00$ / mois + 4$ / consultant
                                                                {% elif abonnement.offre == 'silver' %}
                                                                20.00$ / mois + 3.20$ / consultant
                                                                {% else%}
                                                                35.00$ / mois + 2.80$ / consultant
                                                                {% endif %}
                                                            </small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                            <a class="mb-2 mr-2" id="btn-next-sub1"><i class="pe-7s-angle-right-circle faa-horizontal animated" style="top: 37% !important;"></i>
                                            </a>
                                        </div>
                                        <div class="tab-pane text-center" id="card2" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub2" style="top: 37% !important; left: 1% !important;"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <h1 class="display-4 text-center">Il vous reste {{ total_nb_factures }} facture(s) à payer !</h1>
                                            <br>
                                            {% if factures %}
                                            <div class="table-responsive">
                                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">#</th>
                                                            <th class="text-center">Date</th>
                                                            <th class="text-center">Mois</th>
                                                            <th class="text-center">Nombre de feuilles</th>
                                                            <th class="text-center">Sous-Total</th>
                                                            <th class="text-center">État</th>
                                                            <th class="text-center">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for facture in factures %}
                                                        <tr>
                                                            <td class="text-center"><b>#{{ loop.index }}</b></td>
                                                            <td class="text-center">{{ facture.date_facture }}</td>
                                                            <td class="text-center">{{ facture.mois }}</td>
                                                            <td class="text-center">{{ facture.nbr_feuille }}</td>
                                                            <td class="text-center">
                                                                {{ '%0.2f'| format(facture.sous_total|float) }} $
                                                            </td>
                                                            <td class="text-center">
                                                                {% if facture.etat == "payee" %}
                                                                <i class="fas fa-check-double text-success bill-state"></i>
                                                                {% else %}
                                                                <i class="fas fa-times text-danger bill-state"></i>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center">
                                                                <button type="button" id="PopoverCustomT-1" class="btn btn-light btn-sm rounded-pill" onclick="location.href='bill/{{ facture.id }}'">Details</button>
                                                            </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <h4 class="display-5">Total : <span class='text-primary'><font style='vertical-align: inherit;'><font style='vertical-align: inherit; top: 73% !important; right: 34% !important;' id="resumePrix"> {{ '%0.2f'| format(total_factures|float) }} $</font></font></span></h4>
                                            <div class="btn-center" id="paypal-button-container"></div>
                                            {% else %}
                                            <a class="mb-2 mr-2" id="btn-next-sub2"><i class="pe-7s-angle-right-circle faa-horizontal animated" style="top: 37% !important;"></i>
                                            </a>
                                            {% endif %}
                                        </div> 
                                        <div class="tab-pane text-center" id="card3" role="tabpanel">
                                            <h1 class="display-4 text-center">Confirmer l'annulation</h1>
                                            <br>
                                            <h4 class="display-5">Entrez votre mot de passe pour confirmer l'annulation 
                                            </h4>
                                                <div class="form-row text-center">
                                                    <div class="form-group col-lg-3"></div>
                                                    <div class="form-group col-lg-6">
                                                        <div class="position-relative form-group">
                                                            <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                            <label for="password" class="">Mot de Passe</label>
                                                            <input name="password" id="password" class="form-control input-line" type="password" pattern=".{6,}" maxlength="25" required />
                                                            <small class="form-text text-muted">Le mot de passe doit comporter au moins 6 caractères.</small>
                                                            <small class="form-text text-danger animated bounceIn d-none" id="infosPassword"></small>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-lg-3"></div>
                                                </div>
                                                <button type="button" class="mb-2 mr-2 btn-transition btn btn-outline-danger" onclick="cancelSubscription();">Annuler l'abonnememt
                                                </button>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4" id="img-cancel-subscription">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}