{% extends "layout.html" %}
{% block home %}
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-subscribe" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    {% if type_conf == "inscriptionSuccess" %}
                    <div class="success-checkmark position-absolute">
                        <div class="check-icon ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">Inscription terminée !</span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Merci pour votre inscription !</font></font><br><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">de confirmation vous a été envoyé ! <br>Veuillez vérifier vos courriels avant de vous authentifier ! </font></font></span>
                    </h4>
                    {% elif type_conf == "reset_password_confirm" %}
                    <div class="success-checkmark position-absolute">
                        <div class="check-icon ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">C'est presque terminé !</span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez consulter</font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> vos courriels </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">afin de finaliser le changement de votre mot de passe.</font></font></span>
                    </h4>
                    {% elif type_conf == "inscriptionFailed" %}
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2" class="error-mark ">
                        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="4" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
                    </svg>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">L'inscription a échoué !</span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Veuillez </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">réessayer </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ou nous contacter si vous rencontrez des problèmes !</font></font></span>
                    </h4>
                    {% elif type_conf == "paypalSuccess" %}
                    <div class="success-checkmark position-absolute">
                        <div class="check-icon ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">Paiement de la facture réussi !</span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel de </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">confirmation </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vous a été envoyé !</font></font></span>
                    </h4>
                    {% elif type_conf == "modifySubscriptionSuccess" %}

                    <div class="success-checkmark position-absolute">
                        <div class="check-icon
                                    ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">Modification de votre abonnement réussi !</span>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel de </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">confirmation </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vous a été envoyé !</font></font></span>
                    </h4>
                    {% elif type_conf == "renewSubscriptionSuccess" %}

                    <div class="success-checkmark position-absolute">
                        <div class="check-icon
                                    ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">Renouvellement de votre abonnement réussi !</span>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel de </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">confirmation </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vous a été envoyé !</font></font></span>
                    </h4>
                    {% elif type_conf == "cancelSubscriptionSuccess" %}

                    <div class="success-checkmark position-absolute">
                        <div class="check-icon
                                    ">
                            <span class="icon-line line-tip"></span>
                            <span class="icon-line line-long"></span>
                            <div class="icon-circle"></div>
                            <div class="icon-fix"></div>
                        </div>
                    </div>
                    <h4 class="mb-0 text-center text-confirmation">
                        <span class="d-block display-4">Annulation de votre abonnement réussi !</span>

                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel de </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">confirmation </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">vous a été envoyé !</font></font></span>
                    </h4>
                    {% else %}
                    {% endif %}
                    <button id="dashboardConfirmation" onclick="location.href='/';" type="submit" class="btn btn-primary">Retour à l'accueil</button>
                </div>
                <div class=" d-lg-block col-lg-4" id="img-confirmation">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}