<div class="success-checkmark position-absolute">
    <div class="check-icon d-none">
        <span class="icon-line line-tip"></span>
        <span class="icon-line line-long"></span>
        <div class="icon-circle"></div>
        <div class="icon-fix"></div>
    </div>
</div>
<h4 class="mb-0 text-center text-confirmation">
    <span class="d-block display-4">Inscription terminée !</span>
    <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Merci pour votre inscription !</font></font><br><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un courriel </font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">de confirmation vous a été envoyé ! <br>Veuillez vérifier vos courriels avant de vous authentifier ! </font></font></span>
</h4>