{% if notifications %}
    {% for notification in notifications %}
        {% if (loop.index <= 3) %}
        <tr class="table-primary">
            {% if (notifications|length == 1) %}
            <td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ notification.date }}</b></td>
            <td class="text-center" style="border-radius: 0 25px 25px 0;"><b>{{ notification.contexte }}</b></td>
            {% elif (loop.index == 1) %}      
            <td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ notification.date }}</b></td>
            <td class="text-center" style="border-radius: 0 25px 0 0;"><b>{{ notification.contexte }}</b></td>
            {% elif ((loop.index == 2) and (notifications|length == 2)) or (loop.index == 3) %}
            <td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ notification.date }}</b></td>
            <td class="text-center" style="border-radius: 0 0 25px 0;"><b>{{ notification.contexte }}</b></td>
            {% else %}
            <td class="text-center" ><b>{{ notification.date }}</b></td>
            <td class="text-center"><b>{{ notification.contexte }}</b></td>
            {% endif %}
        </tr>
        {% else %}
        {% endif %}
{% endfor %}
{% else %}
    <tr class="text-center table-info"><td colspan="2">Aucun nouveau message !</td></tr>
{% endif %}