{% if timesheets %}
{% for timesheet in timesheets %}
{% if (loop.index <= 3) %}
                      <tr class="table-info">
{% if (timesheets|length == 1) %}
<td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
<td class="text-center">
    <div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
</td>
<td class="text-center" style="border-radius: 0 25px 25px 0;">
    <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
</td>
{% elif (loop.index == 1)%}
<td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
<td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
</td>
<td class="text-center" style="border-radius: 0 25px 0 0;">
    <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
</td>                                                
{% elif ((loop.index == 2) and (timesheets|length == 2)) or (loop.index == 3) %}
<td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
<td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
</td>
<td class="text-center" style="border-radius: 0 0 25px 0;">
    <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
</td>
{% else %}
<td class="text-center"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
<td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
</td>
<td class="text-center">
    <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
</td>
{% endif %}
</tr>
{% else %}
{% endif %}
{% endfor %}
{% else %}
<tr class="text-center table-info"><td colspan="3">Aucune feuille de temps à traiter !</td></tr>
{% endif %}