{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Tableau de bord</title>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(updateNotifsDash, 1000);
            setInterval(updateTimesheetsDash, 1000);
        });  
        
        function updateNotifsDash() {
            var table = document.getElementById("dashInbox");
        
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        table.innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.open("GET", "/getNewNotificationDashboard/" + '{{ user_infos[3] }}',true);
            xhr.send();
        }   
        
        function updateTimesheetsDash() {
            var table = document.getElementById("dashTimesheetClient");

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        table.innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.open("GET", "/getNewTimesheetsDashboard",true);
            xhr.send();
        }    
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Tableau de Bord</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 card card-body dash-card" style="min-height: 298px;">
                            <div class="card-header">Nouveaux Messages
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/inbox';" class="btn btn-primary btn-center btn-sm" style="width: 90px; margin-top: 25px ">Messagerie</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                <div class="table-responsive" style="padding: 0px 20px 16px 20px;">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Objet</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dashInbox">
                                            {% if notifications %}
                                            {% for notification in notifications %}
                                                {% if (loop.index <= 3) %}
                                                    <tr class="table-primary">
                                                        {% if (notifications|length == 1) %}
                                                            <td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif (loop.index == 1) %}      
                                                            <td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 0 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif ((loop.index == 2) and (notifications|length == 2)) or (loop.index == 3) %}
                                                            <td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 0 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% else %}
                                                            <td class="text-center" ><b>{{ notification.date }}</b></td>
                                                            <td class="text-center"><b>{{ notification.contexte }}</b></td>
                                                        {% endif %}
                                                    </tr>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                             <tr class="text-center table-info"><td colspan="2">Aucun nouveau message !</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 card card-body dash-card" style="min-height: 298px;">
                            <div class="card-header">Statut des feuilles de temps
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/ConsultantTimeSheets';" class="btn btn-info btn-center btn-sm" style="width: 90px; margin-top: 25px ">Gérer</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                    <div class="table-responsive" style="padding: 0px 20px 16px 20px;">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Consultant</th>
                                                <th class="text-center">Statut</th>
                                                <th class="text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dashTimesheetClient">
                                        {% if timesheets %}
                                            {% for timesheet in timesheets %}
                                                {% if (loop.index <= 3) %}
                                                    <tr class="table-info">
                                                        {% if (timesheets|length == 1) %}
                                                            <td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
                                                            <td class="text-center">
                                                                <div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
                                                            </td>
                                                            <td class="text-center" style="border-radius: 0 25px 25px 0;">
                                                                <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                                            </td>
                                                        {% elif (loop.index == 1)%}
                                                            <td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
                                                            <td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
                                                            </td>
                                                            <td class="text-center" style="border-radius: 0 25px 0 0;">
                                                                <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                                            </td>                                                
                                                        {% elif ((loop.index == 2) and (timesheets|length == 2)) or (loop.index == 3) %}
                                                            <td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
                                                            <td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
                                                            </td>
                                                            <td class="text-center" style="border-radius: 0 0 25px 0;">
                                                                <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                                            </td>
                                                        {% else %}
                                                            <td class="text-center"><b>{{ timesheet.consultant.nom }} {{ timesheet.consultant.prenom }}</b></td>
                                                            <td class="text-center"><div class="badge badge-info">{{ timesheet.timesheet.etat[0]|upper }}{{ timesheet.timesheet.etat[1:] }}</div>
                                                            </td>
                                                            <td class="text-center">
                                                                <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.timesheet.ordre_achat_id }}/{{ timesheet.timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                                            </td>
                                                        {% endif %}
                                                    </tr>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                        <tr class="text-center table-info"><td colspan="3">Aucune feuille de temps à traiter !</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}