{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Tableau de bord</title>
    <script type="text/javascript">
        $(document).ready(function () {
            setInterval(updateNotifsDash, 1000);
            setProgressBars();
        });  
        
        function updateNotifsDash() {
            var table = document.getElementById("dashInbox");

            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        table.innerHTML = xhr.responseText;
                    }
                }
            };

            xhr.open("GET", "/getNewNotificationDashboard/" + '{{ user_infos[2] }}',true);
            xhr.send();
        }   
        
        function setProgressBars(){
            var progressMois = document.getElementById("totalNbMonth");
            var progressFeuilles = document.getElementById("totalTimesheets");
            
            var progressMoisWidth = (100 / 12) * {{ subscription.totalNbMois }};
            var progressFeuillesWidth = (100 / ({{ details.totalConsultants }} * 4)) * {{ subscription.nb_feuilles }};
            
            if(progressMois != null){
                progressMois.style.width = progressMoisWidth.toString() + "%";
                progressMois.setAttribute("aria-valuenow", progressMoisWidth); 
            }
            
            if(progressFeuilles != null){
                progressFeuilles.style.width = progressFeuillesWidth.toString() + "%";
                progressFeuilles.setAttribute("aria-valuenow", progressFeuillesWidth);
            }
        }

    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Tableau de Bord</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                                        <div class="col-md-4 col-xl-4">
                        <div class="mb-3 card card-body dash-card animated bounceIn" style="min-height: 298px;">
                            <div class="card-header">Nouveaux Messages
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/inbox';" class="btn btn-primary btn-center btn-sm" style="width: 90px; margin-top: 25px ">Messagerie</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                <div class="table-responsive" style="padding: 0px 20px 16px 20px;">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Objet</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dashInbox">
                                            {% if notifications %}
                                            {% for notification in notifications %}
                                                {% if (loop.index <= 3) %}
                                                    <tr class="table-primary">
                                                        {% if (notifications|length == 1) %}
                                                            <td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif (loop.index == 1) %}      
                                                            <td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 0 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif ((loop.index == 2) and (notifications|length == 2)) or (loop.index == 3) %}
                                                            <td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 0 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% else %}
                                                            <td class="text-center" ><b>{{ notification.date }}</b></td>
                                                            <td class="text-center"><b>{{ notification.contexte }}</b></td>
                                                        {% endif %}
                                                    </tr>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                             <tr class="text-center table-info"><td colspan="2">Aucun nouveau message !</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="row">
                            <div class="col-md-6 col-xl-6 dash-card-button">
                                <div class="card mb-3 widget-content bg-happy-fisher-reverse animated bounceIn"  onclick="location.href='manageAccounts/clients';">
                                    <div class="widget-content-wrapper text-focus">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Clients</div>
                                            <div class="widget-subheading">Total des clients</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-focus"><span>{{ details.totalClients }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-6 dash-card-button">
                                <div class="card mb-3 widget-content bg-happy-fisher animated bounceIn" onclick="location.href='manageAccounts/consultants';">
                                    <div class="widget-content-wrapper text-focus">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Consultants</div>
                                            <div class="widget-subheading">Total des consultants</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-focus"><span>{{ details.totalConsultants }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xl-4">
                        <div class="mb-3 card card-body dash-card animated bounceIn" style="min-height: 298px;">
                            <div class="card-header">Abonnement
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/subscription';" class="btn btn-focus btn-center btn-sm" style="width: 90px; margin-top: 25px ">Gérer</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                <ul class="list-group list-group-flush">
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Mon Forfait</div>
                                                                <div class="widget-subheading">{{ subscription.name[0]|upper }}{{ subscription.name[1:] }}</div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary">${{ subscription.mensualite }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="widget-progress-wrapper">
                                                            <div class="progress-bar-lg progress-bar-animated progress">
                                                                {% if subscription.totalNbMois != 0 %}
                                                                <div class="progress-bar progress-bar-animated progress-bar-striped bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="totalNbMonth" >{{ subscription.totalNbMois }}</div>
                                                                {% else %}
                                                                {% endif %}
                                                                
                                                                {% if subscription.totalNbMois != 12 %}
                                                                <div class="progress-bar progress-bar-animated bg-warning progress-bar-striped" role="progressbar" aria-valuenow="8.33" aria-valuemin="0" aria-valuemax="100" style="width: 8.33%;" id="totalNbMonthReste"></div>
                                                                {% else %}
                                                                {% endif %}
                                                            </div>
                                                            <div class="progress-sub-label">
                                                                <div class="sub-label-right" id="subscriptionMensuality">{{ subscription.nb_mois_abo }} mois</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Total Feuilles de Temps</div>
                                                                <div class="widget-subheading">Ce mois-ci</div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-info" id="totalTimesheetsPrice">${{ subscription.totalFeuilles }}</div>
                                                            </div>
                                                        </div>
                                                        <div class="widget-progress-wrapper">
                                                            <div class="progress-bar-sm progress-bar-animated-alt progress">
                                                                {% if subscription.totalNbMois != 0 %}
                                                                <div class="progress-bar progress-bar-animated progress-bar-striped bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="totalTimesheets" >{{ subscription.nb_feuilles }}</div>
                                                                {% else %}
                                                                {% endif %}
                                                            </div>
                                                            <div class="progress-sub-label">
                                                                <div class="sub-label-right" id="totalTimesheetsAllowed">
                                                                {% if subscription.max_consultant == 99999 %}
                                                                    <i class="fas fa-infinity"></i>
                                                                {% else %}
                                                                      {{ subscription.max_consultant }}
                                                                {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Total pour le mois de </div>
                                                                <div class="widget-subheading" id="actualMonthSubscription">{{ today_mois }}</div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-success" id="totalMonthSubscription">${{ subscription.totalMois }}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}