{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Tableau de bord</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-clockpicker.min.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap-clockpicker.min.js') }}"></script>
    <script type="text/javascript">
        $( document ).ready(function() {
            $('.clockpicker').clockpicker({
                autoclose: true
            })
            
            setInterval(updateNotifsDash, 1000);

            function updateNotifsDash() {
                var table = document.getElementById("dashInbox");

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            table.innerHTML = xhr.responseText;
                        }
                    }
                };

                xhr.open("GET", "/getNewNotificationDashboard/" + '{{ user_infos[3] }}',true);
                xhr.send();
            }    

            {% if timesheet %}
                statusClock('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}');
            {% else %}
            {% endif %}
        });
        
        function statusClock(id){
            var am_s = document.getElementById("amS_" + id);
            var am_e = document.getElementById("amE_" + id);
            var pm_s = document.getElementById("pmS_" + id);
            var pm_e = document.getElementById("pmE_" + id);

            if (am_s.value == "00:00"){
                am_s.setAttribute('style', 'background-color : #f7b92452 !important');
            } else{
                am_s.setAttribute('style', 'background-color : #3ac47d52 !important');
            }

            if (am_e.value == "00:00"){
                am_e.setAttribute('style', 'background-color : #f7b92452 !important');
            } else{
                am_e.setAttribute('style', 'background-color : #3ac47d52 !important');
            }

            if (pm_s.value == "00:00"){
                pm_s.setAttribute('style', 'background-color : #f7b92452 !important');
            } else{
                pm_s.setAttribute('style', 'background-color : #3ac47d52 !important');
            }

            if (pm_e.value == "00:00"){
                pm_e.setAttribute('style', 'background-color : #f7b92452 !important');
            } else{
                pm_e.setAttribute('style', 'background-color : #3ac47d52 !important');
            }
        }
        
    </script>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-display2 icon-gradient bg-ripe-malin">
                        </i>
                    </div>
                    <div>Tableau de Bord</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 card card-body dash-card" style="min-height: 298px;">
                            <div class="card-header">Nouveaux Messages
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/inbox';" class="btn btn-primary btn-center btn-sm" style="width: 90px; margin-top: 25px ">Messagerie</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                <div class="table-responsive" style="padding: 0px 20px 16px 20px;">
                                    <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">Date</th>
                                                <th class="text-center">Objet</th>
                                            </tr>
                                        </thead>
                                        <tbody id="dashInbox">
                                            {% if notifications %}
                                            {% for notification in notifications %}
                                                {% if (loop.index <= 3) %}
                                                    <tr class="table-primary">
                                                        {% if (notifications|length == 1) %}
                                                            <td class="text-center" style="border-radius: 25px 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif (loop.index == 1) %}      
                                                            <td class="text-center" style="border-radius: 25px 0 0 0;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 25px 0 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% elif (loop.index == 3) %}
                                                            <td class="text-center" style="border-radius: 0 0 0 25px;"><b>{{ notification.date }}</b></td>
                                                            <td class="text-center" style="border-radius: 0 0 25px 0;"><b>{{ notification.contexte }}</b></td>
                                                        {% else %}
                                                            <td class="text-center" ><b>{{ notification.date }}</b></td>
                                                            <td class="text-center"><b>{{ notification.contexte }}</b></td>
                                                        {% endif %}
                                                    </tr>
                                                {% else %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <tr class="text-center table-info"><td colspan="2">Aucun nouveau message !</td></tr>
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3 card card-body dash-card" style="min-height: 298px;">
                            <div class="card-header">Aujourd'hui
                                <div class="btn-actions-pane-right">
                                    <div role="group" class="btn-group-sm btn-group">
                                        <button onclick="location.href='/myTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" class="btn btn-info btn-center btn-sm" style="width: 90px; margin-top: 25px ">Gérer</button>
                                    </div>
                                </div>
                            </div>                            
                            <div class="card-body dash-card-body">
                                {% if timesheet %}
                                <form>
                                    <div class="form-row">
                                        <div class="col-md-6 text-center">
                                            <div class="position-relative form-group"><label for="amS_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" class=""><b>Début Matinée</b></label>
                                                <div class="form-group clockpicker">
                                                    <input type="text" class="input-line form-control" placeholder="Début" value="{{ days_data[today_weekday - 1].AM_s }}" id="amS_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" onchange="updateTimeSheetDayAMS('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}'), statusClock('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}');" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="position-relative form-group"><label for="amE_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" class=""><b>Fin Matinée</b></label>
                                                <div class="form-group clockpicker">
                                                    <input type="text" class="input-line form-control" placeholder="Début" value="{{ days_data[today_weekday - 1].AM_e }}" id="amE_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" onchange="updateTimeSheetDayAME('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}'), statusClock('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}');" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 text-center">
                                            <div class="position-relative form-group"><label for="pmS_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" class=""><b>Début Aprés-Midi</b></label>
                                                <div class="form-group clockpicker">
                                                    <input type="text" class="input-line form-control" placeholder="Début" value="{{ days_data[today_weekday - 1].PM_s }}" id="pmS_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" onchange="updateTimeSheetDayPMS('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}'), statusClock('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}');" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="position-relative form-group"><label for="amE_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" class=""><b>Fin Aprés-Midi</b></label>
                                                <div class="form-group clockpicker">
                                                    <input type="text" class="input-line form-control" placeholder="Fin" value="{{ days_data[today_weekday - 1].PM_e }}" id="pmE_{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}" onchange="updateTimeSheetDayPME('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}'), statusClock('{{ timesheet.ordre_achat_id }}_{{ today_date }}_jour_{{ today_weekday }}');" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% else %}
                                    <h3 class="text-center">Aucune feuille de temps !</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}