{% extends "tenant.html" %} 
{% block content %}
<head>
        <title>Dotation</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Dotation</div>
                </div>
                <div class="page-title-actions">
                    <button onclick="location.href='/new/dotation/{{ account_email }}/{{ rtype }}';" type="button" data-toggle="tooltip" title="" data-placement="bottom" class="btn-pill btn-shadow mr-3 btn btn-success btn-manage-accounts" data-original-title="Ajouter une Dotation">
                        <i class="pe-7s-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="card">{{ dotation }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}