{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Messagerie</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-mail icon-gradient bg-malibu-beach">
                        </i>
                    </div>
                    <div>Messagerie</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="main-card mb-3 card animated bounceIn">
                    <div class="card-header">Mes Messages   
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                {% if not status_msg %}
                                    <button onclick="location.href='/all';" class="active btn btn-outline-focus">Toutes</button>
<!--
                                    <button onclick="location.href='/';" class="btn btn-outline-focus">Envoyée</button>
                                    <button onclick="location.href='/';" class="btn btn-outline-focus">En</button>
                                    <button onclick="location.href='/';" class="btn btn-outline-focus">En attente</button>
-->
                                {% else %}
                                
                                    {% if status == "send" %}
                                        <button onclick="location.href='/';" class="active btn btn-outline-focus">Toutes</button>
                                    {% else %}
                                        <button onclick="location.href='/';" class="btn btn-outline-focus">Toutes</button>
                                    {% endif %}                               
                                {% endif %}                                
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                    <tr>
                                        <div class="row trInbox">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-3 text-center"><a class="m-0 p-0"><b>Date</b></a></div>
                                            <div class="col-md-3 text-center"><a class="m-0 p-0"><b>De</b></a></div>
                                            <div class="col-md-3 text-center"><a class="m-0 p-0"><b>Objet</b></a></div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </tr>
                                </thead>
                            </table>
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody id="listNotifications">
                                        {% if notifications %}
                                        {% for notification in notifications %}
                                            <tr>
                                                    <div class="card">
                                                        {% if (notification.etat == 'non lu') or (notification is none) %}
                                                        <div id="heading{{ loop.index }}" class="card-header inbox-cd" style="text-transform: initial !important; background-color:#c9d5f4;" onclick="readNotification('{{ notification.id }}', 'heading{{ loop.index }}');">
                                                        {% else %}
                                                            <div id="heading{{ loop.index }}" class="card-header inbox-cd" style="text-transform: initial !important;" onclick="readNotification('{{ notification.id }}',  'heading{{ loop.index }}');">
                                                        {% endif %}
                                                            <div class="container">
                                                                <div data-toggle="collapse" data-target="#collapse{{ loop.index }}{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}" class="text-center m-0 p-0 collapsed">
                                                                    <div class="row trInbox">
                                                                        <div class="col-md-1">
                                                                            {% if (notification.etat == 'non lu') or (notification is none) %}
                                                                                <i class="fas fa-circle notif" id="readIcon_{{ loop.index }}"></i>
                                                                            {% else %}
                                                                                <i class="far fa-circle notif"
                                                                                id="readIcon_{{ loop.index }}"></i>
                                                                            {% endif  %}
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a class="m-0 p-0">
                                                                            {{ notification.date }}
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a class="m-0 p-0">
                                                                            {{ notification.emetteur }}
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-3">
                                                                            <a class="m-0 p-0">
                                                                            {{ notification.contexte }}
                                                                            </a>
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <a class="m-0 p-0">
                                                                            
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div data-parent="#accordion" id="collapse{{ loop.index }}{{ loop.index0 }}" aria-labelledby="heading{{ loop.index }}" class="collapse" style="">
                                                            <div class="card-body" >
                                                                {{ notification.contenu}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        {% endfor %}
                                        {% else %}
                                        <tr class="text-center table-info"><td colspan="5">Aucun nouveau message !</td></tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}

