{% extends "layout.html" %} 
{% block home %}
<head>
    <title>AMA Consulting</title>  
    <script type="text/javascript">
        $(window).on('load', function() {
            setTimeout(function() {
                $('.section-left').addClass('move_left');
                $('.section-right').addClass('move_right');
                $('#loading-center').hide().delay(2100);
            }, 2000);
        });

    </script>
</head>
<div id="loading">
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div id="loading-center">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>
</div>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="d-none d-lg-block col-lg-4" id="img-index">

                </div>
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-index" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    <h4 class="mb-0 text-center text-index">
                        <span class="d-block">Bienvenue <i class="far fa-hand-peace faa-wrench animated faa-slow"></i></span>
                        <span>Veuillez vous connecter s'il vous plait.</span></h4>
                    <h6 class="mt-3 position-absolute text-index-2">Pas encore de compte ? <a href="/new_member" class="text-primary">S'inscrire maintenant</a></h6>
                    <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
                        <div class="divider row"></div>
                        <div>
                            <form action="/login" method="post">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="loginEmail" class="">Email</label>
                                            <input id="loginEmail" name="email" type="email" class="form-control input-line" placeholder="Entrez vote adresse courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="loginPassword" class="">Mot de Passe</label>
                                            <input id="loginPassword" name="password" placeholder="Entrez votre mot de passe" class="form-control input-line" type="password" aria-label="Mot de Passe" aria-describedby="basic-addon1" required/>
                                            <a href="/reset_password" class="btn-lg btn btn-link float-right" style>Mot de passe oublié</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="position-relative form-check" style="left: 3%;">
                                    <input name="check" id="exampleCheck" type="checkbox" class="custom-control-input" checked>
                                    <label for="exampleCheck" class="custom-control-label">Rester connecté</label></div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto">
                                        <button class="btn btn-primary btn-lg rounded-pill">Se connecter au tableau de bord</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% if error %}
                        <div class="alert alert-conf alert-danger fade show" role="alert">{{ error }}</div>
                        {% elif info %}
                        <div class="alert alert-conf alert-info fade show" role="alert">{{ info }}</div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
