{% extends "layout.html" %}
{% block home %}
<head>
    <title>S'inscrire</title>        
    <script src="https://www.paypal.com/sdk/js?client-id=AY6qLVdr_oibBBF7SoZxDyKjF77pJcrnlTOP1clcMZCP-rHuujkWrGB4KN44opppQ3XVdqGdYK4okXTt&currency=CAD"></script>
    <script src="{{ url_for('static', filename='js/inscription.js') }}"></script>
</head>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-subscribe" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    <h4 class="mb-0 text-center text-subscribe display-5" id="texteTab">
                        <span class="d-block">Allons-y <i class="far fa-hand-peace"></i></span>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cela ne prendra que </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">quelques secondes</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pour créer votre compte.</font></font></span>
                    </h4>                    
                    <button onclick="location.href='/';" class="btn btn-center btn-focus btn-back" type="button" data-toggle="tooltip" data-placement="right" title data-original-title="Retour à l'accueil"><i class="pe-7s-back"></i></button>
                    <div class="mx-auto col-sm-12 col-md-10 col-lg-11" id=containerFormSubscription>
                        <div class="divider row"></div>
                        <button type="button" class="btn btn-outline-primary btn-center rounded-pill" id="buttonGo">Commencer</button>
                        <div class="card-shadow-primary border mb-0 card card-body border-primary" id="subscribe-card">
                            <div class="card-header card-header-tab-animation invisible">
                                <ul class="nav nav-justified">
                                    <li class="nav-item"><a id="tab1" class="nav-link show active">Informations Personnelles</a><div id="tab1num" class="number-tab-sub active"><a>1</a></div></li>
                                    <li class="nav-item"><a id="tab2" class="nav-link show">Informations de connexion</a><div id="tab2num" class="number-tab-sub"><a>2</a></div></li>
                                    <li class="nav-item"><a id="tab3" class="nav-link show">Abonnements</a><div id="tab3num" class="number-tab-sub"><a>3</a></div></li>
                                    <li class="nav-item"><a id="tab4" class="nav-link show">Résumé</a><div id="tab4num" class="number-tab-sub"><a>4</a></div></li>
                                    <li class="nav-item"><a id="tab5" class="nav-link show">Paiement</a><div id="tab5num" class="number-tab-sub"><a>5</a></div></li>
                                </ul>
                            </div>
                            <div class="card-body invisible">
                                <form action="/new_member_submit" method="post" class="" id="subscribeForm">
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="card1" role="tabpanel">
                                            <div class="form-row text-center">
                                                <div class="form-group col-lg-1"></div>
                                                <div class="col-lg-5">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="inp-nom" class="">Nom</label>
                                                        <input name="nom" class="form-control input-line text-center" type="text" required id="inp-nom" onkeyup='validation_form_tab1();'/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="inp-prenom" class="">Prénom</label>
                                                        <input name="prenom" class="form-control input-line text-center" type="text" required id="inp-prenom" onkeyup='validation_form_tab1();' />
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-1"></div>
                                                <div class="form-group col-lg-1"></div>
                                                <div class="col-lg-5">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="inp-tel" class="">Téléphone</label>
                                                        <input name="telephone" class="form-control phone_us input-line text-center" type="tel" id="inp-tel" required pattern=".{14,}" title="Format requis : (000) 000-0000" onkeyup='validation_form_tab1();' />
                                                        <small class="form-text text-muted">ex : (514) 123-4567</small>
                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col-lg-5">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="inp-entreprise" class="">Entreprise</label>
                                                        <input name="entreprise" class="form-control input-line text-center" type="text" required id="inp-entreprise" onkeyup='validation_form_tab1();'/>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-1"></div>
                                            </div>
                                            <a class="mb-2 mr-2 d-none" id="btn-next-sub1"><i class="pe-7s-angle-right-circle faa-horizontal animated"></i>
                                            </a>
                                        </div>
                                        <div class="tab-pane" id="card2" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub2"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <div class="form-row text-center">
                                                <div class="form-group col-lg-3"></div>
                                                <div class="col-lg-6">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="inp-email" class="">Email</label>
                                                        <input name="email" type="email" id="inp-email" class="form-control input-line" required onchange="validation_form_tab2(), checkEmail();"/>
                                                        <small class="form-text text-muted">ex : mycompany@domain.ca</small><small class="form-text text-muted">Ce sera votre identifiant de connexion.</small>
                                                        <div class="invalid-feedback" id="invalid-email">
                                                            Votre email n'est pas au bon format !
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-3"></div>

                                                <div class="col-lg-6">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="password" class="">Mot de Passe</label>
                                                        <input name="password" id="password" class="form-control input-line" type="password" pattern=".{6,}" maxlength="25" required onchange="validation_form_tab2(), checkPasswords();"/>
                                                        <small class="form-text text-muted">Le mot de passe doit comporter au moins 6 caractères.</small>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="position-relative form-group">
                                                        <span class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        <label for="repeatPassword" class="">Répéter le mot de passe</label>
                                                        <input name="repeatPassword" id="repeatPassword" class="form-control input-line" type="password" pattern=".{6,}" maxlength="25" required onkeyup="validation_form_tab2(), checkPasswords();"/>
                                                        <small class="form-text text-muted">Répétez votre mot de passe.</small>
                                                        <div class="invalid-feedback" id="invalid-password">
                                                            Les mots de passe ne correspondent pas !
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mb-2 mr-2 d-none" id="btn-next-sub2"><i class="pe-7s-angle-right-circle faa-horizontal animated"></i>
                                            </a>
                                        </div>
                                        <div class="tab-pane" id="card3" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub3"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <div class="form-row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3 card card-body" id="cardBronze">
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/bronze.png') }}"/>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <h6><em>Gestion de 10 consultants</em></h6>
                                                        <h6><em>Accés à 10.00$ par mois</em></h6>
                                                        <h6><em>1.00$ par feuille de temps</em></h6>
                                                        <br>
                                                        <br>
                                                        <div role="group" class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-outline-focus" id="bronze3mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                3 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="bronze6mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                6 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="bronze12mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                12 mois
                                                            </label>
                                                        </div>
                                                        <br>
                                                        <div class="position-relative price">
                                                            <label>50.00$ / mois</label>
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-primary disabled" aria-pressed="false" autocomplete="off" id="buttonBronze" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sélectionnez une mensualité !">
                                                            Choisir
                                                        </button>
                                                        <br>
                                                        <div class="position-relative">
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">* </font></font></span><label><small>10.00$ / mois + 4$ / consultant</small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3 text-center card card-body" id="cardSilver">
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/silver.png') }}"/>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <h6><em>Gestion de 25 consultants</em></h6>
                                                        <h6><em>Accés à 20.00$ par mois</em></h6>
                                                        <h6><em>0.80$ par feuille de temps</em></h6>
                                                        <br>
                                                        <br>
                                                        <div role="group" class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-outline-focus" id="silver3mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                3 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="silver6mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                6 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="silver12mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                12 mois
                                                            </label>
                                                        </div>
                                                        <br>
                                                        <div class="position-relative price">
                                                            <label>100.00$ / mois</label>
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-primary disabled" aria-pressed="false" autocomplete="off" id="buttonSilver" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sélectionnez une mensualité !">Choisir     
                                                        </button>
                                                        <br>
                                                        <div class="position-relative">
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">* </font></font></span><label><small>20.00$ / mois + 3.20$ / consultant</small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3 text-center card card-body" id="cardGold">
                                                        <img class="img-plan-sub"src="{{ url_for('static', filename='images/gold.png') }}"/>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <h6><em>Gestion de +50 consultants</em></h6>
                                                        <h6><em>Accés à 35.00$ par mois</em></h6>
                                                        <h6><em>0.70$ par feuille de temps</em></h6>
                                                        <br>
                                                        <br>
                                                        <div role="group" class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-outline-focus" id="gold3mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                3 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="gold6mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                6 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="gold12mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                12 mois
                                                            </label>
                                                        </div>
                                                        <br>
                                                        <div class="position-relative price">
                                                            <label>175.00$ / mois</label>
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-primary disabled" aria-pressed="false" autocomplete="off" id="buttonGold" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sélectionnez une mensualité !">Choisir
                                                        </button>
                                                        <br>
                                                        <div class="position-relative">
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">* </font></font></span><label><small>35.00$ / mois + 2.80$ / consultant</small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="mb-2 mr-2 d-none" id="btn-next-sub3"><i class="pe-7s-angle-right-circle faa-horizontal animated"></i>
                                            </a>
                                        </div>
                                        <div class="tab-pane" id="card4" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub4"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <h1 class="display-4 text-center">Mon Inscription</h1>
                                            <div class="form-row">
                                                <div class="col-lg-4">
                                                    <h5 class="card-title text-center"><u>Informations Personnelles</u></h5>
                                                    <div class="mb-3 card card-body">
                                                        <p class="mb-0"><a id="resumeNom"></a> <a id="resumePrenom"></a></p>
                                                        <a id="resumeTel"></a>
                                                        <a id="resumeEntreprise"></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h5 class="card-title text-center"><u>Informations de connexion</u></h5>
                                                    <div class="mb-3 card card-body">
                                                        <a id="resumeEmail"></a>
                                                        <br>
                                                        <a id="resumePassword"></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <h5 class="card-title text-center"><u>Abonnement</u></h5>
                                                    <div class="mb-3 card card-body p-0" id="resumeAbo">
                                                        <div class="mb-2 mr-2 badge badge-pill badge-focus" id="resumeNombreMois"></div>
                                                        <div class="offer-name position-static text-center" id="resumeForfait">
                                                        </div>
                                                        <div class="mb-2 mr-2 badge badge-pill badge-focus" id="resumePrix"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <button id="goToPay" type="button" class="btn btn-success btn-center rounded-pill">Aller au paiement</button>
                                        </div>
                                        <div class="tab-pane text-center" id="card5" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub5"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <h1 class="display-4 text-center">Payer</h1>
                                            <br>
                                            <h4 class="display-5">
                                                <span><font style='vertical-align: inherit;'>
                                                    <font style='vertical-align: inherit;'>Vous aller souscrire à un abonnement </font></font>
                                                    <span class='text-primary'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;' id="resumeForfait2"></font></font></span>
                                                    <br>
                                                    <font style='vertical-align: inherit;'>
                                                        <font style='vertical-align: inherit;'>pour une durée de  </font></font><span class='text-primary'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;' id="resumeNombreMois2"></font></font></span>
                                                </span>     
                                            </h4>
                                            <br>
                                            <h4 class="display-5">Total : <span class='text-primary'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;' id="resumePrix2"></font></font></span></h4>
                                            <div class="btn-center" id="paypal-button-container"></div>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4" id="img-inscription">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}