        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                {% if not status %}
                                    <button onclick="getAllTimeSheets('{{ consultant }}');" class="active btn btn-outline-focus">Toutes</button>
                                    <button onclick="getNowTimeSheet('{{ consultant }}');" class="btn btn-outline-focus">En Cours</button>
                                    <button onclick="getSubmittedTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">Soumise</button>
                                    <button onclick="getPendingTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">En attente</button>
                                {% else %}
                                
                                    {% if status == "All" %}
                                        <button onclick="getAllTimeSheets('{{ consultant }}');" class="active btn btn-outline-focus">Toutes</button>
                                    {% else %}
                                        <button onclick="getAllTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">Toutes</button>
                                    {% endif %}

                                    {% if status == "InProgress" %}
                                        <button onclick="getNowTimeSheet('{{ consultant }}');" class="active btn btn-outline-focus">En Cours</button>            
                                    {% else %}
                                        <button onclick="getNowTimeSheet('{{ consultant }}');" class="btn btn-outline-focus">En Cours</button>
                                    {% endif %}

                                    {% if status == "Submitted" %}
                                        <button onclick="getSubmittedTimeSheets('{{ consultant }}');" class="active btn btn-outline-focus">Soumise</button>
                                    {% else %}
                                        <button onclick="getSubmittedTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">Soumise</button>
                                    {% endif %}

                                    {% if status == "Pending" %}
                                        <button onclick="getPendingTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">En attente</button>        
                                    {% else %}
                                        <button onclick="getPendingTimeSheets('{{ consultant }}');" class="btn btn-outline-focus">En attente</button>
                                    {% endif %}                                
                                {% endif %}                                
                            </div>
                        </div>
                    </div>
                    {% if timesheets[0] is not none %}
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-light table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Période</th>
                                    <th class="text-center">Approbateur</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for timesheet in timesheets %}
                                <tr>
                                    <td class="text-center text-muted">{{ loop.index }}</td>
                                    <td>
                                        <a>De <b><em>{{ timesheet.date_debut }}</em></b> à <b><em>{{ timesheet.date_fin }}</em></b></a>
                                    </td>
                                    <td class="text-center"><a href="/">{{ timesheet.approbateur }}</a></td>
                                    <td class="text-center">
                                        {% if timesheet.etat == 'soumise' %}
                                            <div class="badge badge-info">En attente</div>
                                        {% elif timesheet.etat == 'approuvee' %}
                                            <div class="badge badge-success">Approuvée</div>
                                        {% elif timesheet.etat == 'rejetee' %}
                                            <div class="badge badge-danger">Rejetée</div>
                                        {% else %}
                                            <div class="badge badge-warning">Prévue</div>
                                        {% endif  %}
                                    </td>
                                    <td class="text-center">
                                        <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                        {% if status == "All" %}
                            <div class="alert alert text-center" role="alert">
                                Aucune feuille de temps pour ce consultant !                    
                            </div>  
                        {% elif status == "InProgress" %}
                            <div class="alert alert text-center" role="alert">
                                Aucune feuille de temps en cours !                    
                            </div>
                        {% elif status == "Submitted" %}
                            <div class="alert alert text-center" role="alert">
                                Aucune feuille de temps soumise !                    
                            </div>
                        {% elif status == "Pending" %}
                            <div class="alert alert text-center" role="alert">
                                Aucune feuille de temps en attente !                    
                            </div>
                        {% else %}
                            <div class="alert alert text-center" role="alert">
                                Aucune feuille de temps en cours !                    
                            </div>
                        {% endif %}                                
                    {% endif %}
                </div>
            </div>
        </div>