{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Journal d'Activités</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-server icon-gradient bg-amy-crisp">
                        </i>
                    </div>
                    <div>Journal d'Activités</div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}