{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Gestion des Comptes</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-mean-fruit">
                        </i>
                    </div>
                    <div>Gestion des Comptes</div>
                </div>
            </div>
        </div>

        <div class="tab-content" style="margin-top: 16%;">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    {% if utype == 0 %} <!-- Administrateur -->
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="mb-3 card card-body animated bounceIn">
                            <div class="p-2">
                                <button onclick="location.href='/manageAccountsAdmin/recruiters';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger btn-manage">
                                    <i class="fas fa-crosshairs text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Recruteurs
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-2">
                        <div class="mb-3 card card-body animated bounceIn">
                            <div class="p-2">
                                <button onclick="location.href='/manageAccountsAdmin/consultants';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary btn-manage">
                                    <i class="fas fa-terminal text-primary opacity-7 btn-icon-wrapper mb-2"> </i>Consultants
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="mb-3 card card-body animated bounceIn">
                            <div class="p-2">
                                <button onclick="location.href='/manageAccountsAdmin/clients';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate btn-manage">
                                    <i class="fas fa-user-tie text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Clients
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>

                    {% else %}
                    
                    <div class="col-md-3"></div>

                    <div class="col-md-2">
                        <div class="mb-3 card card-body animated bounceIn">
                            <div class="p-2">
                                <button onclick="location.href='/manageAccounts/consultants';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary btn-manage">
                                    <i class="fas fa-terminal text-primary opacity-7 btn-icon-wrapper mb-2"> </i>Consultants
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="mb-3 card card-body animated bounceIn">
                            <div class="p-2">
                                <button onclick="location.href='/manageAccounts/clients';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate btn-manage">
                                    <i class="fas fa-user-tie text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Clients
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                    
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}