{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Gestion des Consultants</title>

</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-users icon-gradient bg-amy-crisp">
                        </i>
                    </div>
                    <div>Gestion des Consultants</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    {% for consultant in consultants_accounts %}

                    <div class="col-md-3">
                        <div class="main-card mb-3 card">
                            <div class="card-header profile-card-header bg-night-sky">
                                <div class="profile-card">
                                    <div class="profile-card-avatar mr-3">
<!--
                                        <div class="avatar-rounded mr-3">
                                            <img src="#" alt="Avatar" witdh="30" height="30"/>
                                        </div>
-->
                                        <i class="pe-7s-user icon-gradient bg-malibu-beach" style="font-size: 3.5rem;"></i>
                                    </div>

                                    <div class="profile-card-infos">
                                        <h5 class="profile-card-names">{{ consultant[1] }} {{ consultant[2] }}</h5>
                                        <h6 class="profile-card-role">{{ consultant[12] }}</h6>
                                    </div>

                                    <div class="profile-card-header-button">
                                        <button type="button" class="btn-wide btn-pill btn btn-warning">Messages</button>
                                    </div>
                                </div>
                            </div>  
                            <div class="card-body profile-card-body" id="profile_{{ consultant[3] }}">
                                <ul class="list-group list-group-flush">
                                    <li class="p-0 list-group-item">
                                        <div class="grid-menu grid-menu-2col">
                                            <div class="no-gutters row">

                                                <div class="col-sm-6 profile-card-menu-1">
                                                    <div class="p-2">
                                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-success">
                                                            <i class="pe-7s-date text-success opacity-7 btn-icon-wrapper mb-2"> </i>Feuilles de Temps
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-2">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/ressources/{{ consultant[3] }}/consultant';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger">
                                                            <i class="pe-7s-note2 text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Ressources
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-3">
                                                    <div class="p-2">
                                                        <button onclick="location.href='/profile/{{ consultant[3] }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info">
                                                            <i class="pe-7s-display2 text-info opacity-7 btn-icon-wrapper mb-2"> </i>Profil
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 profile-card-menu-4">
                                                    <div class="p-2">
                                                        <button class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-focus">
                                                            <i class="pe-7s-config text-focus opacity-7 btn-icon-wrapper mb-2"> </i>Options
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}