{% extends "tenant.html" %} 
{% block content %}
<head>
        <title>Gérer les Soumissions</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Gérer les Soumissions</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-2">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/soumissions/{{ user_infos[3] }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger btn-manage">
                                    <i class="fas fa-check-double text-danger opacity-7 btn-icon-wrapper mb-2"> </i>Effectuées
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>

                    <div class="col-md-2">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/soumissions/{{ user_infos[3] }}/clients';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary btn-manage">
                                   <i class="fas fa-user-tie text-primary opacity-7 btn-icon-wrapper mb-2"> </i>Relatives à un client
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/soumissions/{{ user_infos[3] }}/consultants';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-alternate btn-manage">
                                    <i class="fas fa-terminal text-alternate opacity-7 btn-icon-wrapper mb-2"> </i>Relatives à un consultant
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}