{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Profil de {{ profile_infos.nom }} {{ profile_infos.prenom }}</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-user icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Profil de {{ profile_infos.nom }} {{ profile_infos.prenom }}</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <div class="card-header profile-card-header bg-night-sky">
                                    <div class="profile-card">
                                        <div class="profile-card-avatar mr-3">
                                            <div class="avatar-rounded mr-3">
                                                <img src="#" alt="Avatar" witdh="30" height="30"/>
                                            </div>
                                        </div>
                                        {{ profile_infos }}
                                        <div class="profile-card-infos">
                                            <h5 class="profile-card-names">{{ profile_infos.nom }} {{ profile_infos.prenom }}</h5>
                                            <h6 class="profile-card-role">{{ profile_infos.tenant }}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="mb-3 card card-body">
                            <div class="p-2">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}