{% extends "layout.html" %}
{% block home %}
<head>
    <title>Modifier l'abonnement</title>        
    <script src="https://www.paypal.com/sdk/js?client-id=AY6qLVdr_oibBBF7SoZxDyKjF77pJcrnlTOP1clcMZCP-rHuujkWrGB4KN44opppQ3XVdqGdYK4okXTt&currency=CAD"></script>
    <script type="text/javascript">

        function load_informations(){
            var r_nombreMois = document.getElementById("resumeNombreMois");
            var r_forfait = document.getElementById("resumeForfait");
            var r_prix = document.getElementById("resumePrix");

            r_nombreMois.innerHTML = " " + nombreMois.toString() + " mois";
            r_prix.innerHTML = " " + prix.toString() + ".00 $";

            r_nombreMois.innerHTML = " " + nombreMois.toString() + " mois";
            r_prix.innerHTML = " " + prix.toString() + ".00 $";
            r_forfait.innerHTML = "<input name='forfait' type='text' id='inp-forfait' readonly value='" + forfait + "'/>";

            if (document.getElementById("paypal-button-container").childElementCount == 0){
                paypal.Buttons({
                    createOrder: function(data, actions) {
                        return actions.order.create({
                            purchase_units: [{
                                amount: {
                                    value: prix
                                }
                            }]
                        });
                    },
                    onApprove: function(data, actions) {
                        return actions.order.capture().then(function(details) {
                            var transaction_id = details.id;
                            var transaction_date = details.create_time;
                            var transaction_price = details.purchase_units[0].amount.value;
                            var transaction_status = details.status;

                            // save transaction info
                            var date_facture = transaction_date.substr(0,10);
                            var mois = parseInt(date_facture.substr(5,7)) - 1;
                            var annee = parseInt(date_facture.substr(0,4));
                            var details = "Renouvellement de l'Abonnement";

                            payBill('{{ user_infos[4] }}', date_facture, mois, annee, transaction_price, 0, 0, transaction_price, "non payee", details);
                            
                            setTimeout(function(){
                                addTransaction('{{ user_infos[2] }}', date_facture, transaction_price,  transaction_id, transaction_status);
                            }, 100);
                            
                            setTimeout(function(){
                                renewSubscription('{{ user_infos[4] }}', date_facture, nombreMois)
                            }, 200);
                        });
                    },
                    onCancel: function (data) {

                    },

                    style: {
                        layout:  'horizontal',
                        color:   'blue',
                        shape:   'pill',
                        label:   'pay',
                        tagline: 'false'
                    }
                }).render('#paypal-button-container');
            }
        }    
    </script>
    <script src="{{ url_for('static', filename='js/renewSubscription.js') }}"></script>
    <style>
        #tab1::before, #tab2::before{
            bottom: 50px !important;
        }

    </style>
</head>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-subscribe" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    <h4 class="mb-0 text-center text-renew-sub display-5" id="texteTab">
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Renouveler votre </font></font><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">abonnement</font></font></span></span>
                    </h4>                    
                     <button onclick="location.href='/subscription';" class="btn btn-center btn-focus btn-back" type="button" data-toggle="tooltip" data-placement="right" title data-original-title="Retour à mon abonnement"><i class="pe-7s-back"></i></button>
                    <div class="mx-auto col-sm-12 col-md-10 col-lg-11" id=containerFormRenewSubscription>
                        <div class="divider row"></div>
                        <div class="card-shadow-primary border mb-0 card card-body border-primary" id="subscribe-card">
                            <div class="card-header card-header-tab-animation">
                                <ul class="nav nav-justified">
                                    <li class="nav-item active"><a id="tab1" class="nav-link active show">Votre Abonnement</a><div id="tab1num" class="number-tab-sub active" style="left: 45%; top: -26%;"><a>1</a></div></li>
                                    <li class="nav-item"><a id="tab2" class="nav-link show">Paiement</a><div id="tab2num" class="number-tab-sub" style="left: 45%; top: -26%;"><a>2</a></div></li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <form action="/renewSubscription_submit" method="post" class="" id="subscribeForm">
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="card1" role="tabpanel">
                                            <div class="form-row">
                                                <div class="col-lg-4"></div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3 card card-body" id="card{{ abonnement.offre[0]|upper }}{{ abonnement.offre[1:] }}">
                                                        {% if abonnement.offre == 'bronze' %}
                                                            <img class="img-plan-sub"src="{{ url_for('static', filename='images/bronze.png') }}"/>
                                                        {% elif abonnement.offre == 'silver' %}
                                                            <img class="img-plan-sub"src="{{ url_for('static', filename='images/silver.png') }}"/>
                                                        {% else%}
                                                            <img class="img-plan-sub"src="{{ url_for('static', filename='images/gold.png') }}"/>
                                                        {% endif %}
                                                        <br>
                                                        <br>
                                                        <br>
                                                        {% if abonnement.offre == 'bronze' %}
                                                            <h6><em>Gestion de 10 consultants</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                            <h6><em>Gestion de 25 consultants</em></h6>
                                                        {% else%}
                                                            <h6><em>Gestion illimitées de consultants</em></h6>
                                                        {% endif %}
                                                        
                                                        {% if abonnement.offre == 'bronze' %}
                                                            <h6><em>Accés à 10.00$ par mois</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                            <h6><em>Accés à 20.00$ par mois</em></h6>
                                                        {% else%}
                                                            <h6><em>Accés à 35.00$ par mois</em></h6>
                                                        {% endif %}
                                                        
                                                        {% if abonnement.offre == 'bronze' %}
                                                            <h6><em>1.00$ par feuille de temps</em></h6>
                                                        {% elif abonnement.offre == 'silver' %}
                                                            <h6><em>0.80$ par feuille de temps</em></h6>
                                                        {% else%}
                                                            <h6><em>0.70$ par feuille de temps</em></h6>
                                                        {% endif %}
                                                        
                                                        <br>
                                                        <br>
                                                        <div role="group" class="btn-group btn-group-toggle" data-toggle="buttons">
                                                            <label class="btn btn-outline-focus" id="{{ abonnement.offre }}3mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                3 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="{{ abonnement.offre }}6mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                6 mois
                                                            </label>
                                                            <label class="btn btn-outline-focus" id="{{ abonnement.offre }}12mois">
                                                                <input type="radio" name="options" autocomplete="off">
                                                                12 mois
                                                            </label>
                                                        </div>
                                                        <br>
                                                        <div class="position-relative price">
                                                            {% if abonnement.offre == 'bronze' %}
                                                                <label>50.00$ / mois</label>
                                                            {% elif abonnement.offre == 'silver' %}
                                                                <label>100.00$ / mois</label>
                                                            {% else%}
                                                                <label>175.00$ / mois</label>
                                                            {% endif %}
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">*</font></font></span>
                                                        </div>
                                                        <br>
                                                        <button type="button" class="btn btn-outline-primary disabled" aria-pressed="false" autocomplete="off" id="button{{ abonnement.offre[0]|upper }}{{ abonnement.offre[1:] }}" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Sélectionnez une mensualité !">
                                                            Choisir
                                                        </button>
                                                        <br>
                                                        <div class="position-relative">
                                                            <span class="text-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">* </font></font></span><label>
                                                            <small>
                                                                {% if abonnement.offre == 'bronze' %}
                                                                     10.00$ / mois + 4$ / consultant
                                                                {% elif abonnement.offre == 'silver' %}
                                                                     20.00$ / mois + 3.20$ / consultant
                                                                {% else%}
                                                                     35.00$ / mois + 2.80$ / consultant
                                                                {% endif %}
                                                           </small></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4"></div>
                                            </div>
                                            <a class="mb-2 mr-2 d-none" id="btn-next-sub1" style="top: 42%;"><i class="pe-7s-angle-right-circle faa-horizontal animated" style="top: 37% !important;"></i>
                                            </a>
                                        </div>
                                        <div class="tab-pane text-center" id="card2" role="tabpanel">
                                            <a class="mb-2 mr-2" id="btn-prev-sub2" style="top: 37% !important;"><i class="pe-7s-angle-left-circle"></i>
                                            </a>
                                            <h1 class="display-4 text-center">Payer</h1>
                                            <br>
                                            <h4 class="display-5">
                                                <span><font style='vertical-align: inherit;'>
                                                    <font style='vertical-align: inherit;'>Vous aller renouveller votre abonnement </font></font>
                                                    <span class='text-primary'><font style='vertical-align: inherit;'><font style='vertical-align: inherit;' id="resumeForfait"></font></font></span>
                                                    <br>
                                                    <font style='vertical-align: inherit;'>
                                                        <font style='vertical-align: inherit;'>pour une durée de  </font></font><span class='text-primary'><font style='vertical-align: inherit;'><font class="position-static"  style='vertical-align: inherit;' id="resumeNombreMois"></font></font></span>
                                                </span>     
                                            </h4>
                                            <br>
                                            <h4 class="display-5">Total : <span class='text-primary'><font style='vertical-align: inherit;'><font class="position-static" style='vertical-align: inherit;' id="resumePrix"></font></font></span></h4>
                                            <div class="btn-center" id="paypal-button-container"></div>
                                        </div>                                        
                                    </div>
                                </form>
                            </div>
                        </div>                            
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4" id="img-renew-subscription">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}