{% extends "layout.html" %}
{% block home %}
<head>
    <title>Mot de passe oublié</title>        
    <script type="text/javascript">
        $(document).ready(function () {
            //        $(".check-icon").hide();

            setTimeout(function () {
                $(".check-icon").removeClass("d-none");
            }, 2500);
        });
    </script>
</head>
<div class="app-container app-theme-white body-tabs-shadow">
    <div class="app-container">
        <div class="h-100">
            <div class="h-100 no-gutters row">
                <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
                    <img class="img-logo-index" src="{{ url_for('static', filename='images/logo3.png') }}" width="400"/>
                    <h4 class="mb-0 text-center text-reset-password position-absolute display-5">                    
                        <span class="d-block">Ouuuups ! Mot de passe oublié ?</span><br>
                        <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">On va arranger ça !</font></font><br><span class="text-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Entrez votre email</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> pour changer votre mot de passe.</font></font></span>

                    </h4>
                    <button onclick="location.href='/';" class="btn btn-center btn-focus btn-back" type="button" data-toggle="tooltip" data-placement="right" title data-original-title="Retour à l'accueil"><i class="pe-7s-back"></i></button>
                    <div class="mx-auto app-reset-password-box col-sm-12 col-md-10 col-lg-9">
                        <div class="divider row"></div>
                        <div>
                            <form action="/reset_password_change" method="post">
                                <div class="form-row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="loginEmail" class="">Email</label>
                                            <input id="loginEmail" name="email" type="email" class="form-control input-line" placeholder="Entrez vote adresse courriel" aria-label="Courriel" aria-describedby="basic-addon1" required/>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <div class="position-relative form-group">
                                            <label for="password" class="">Nouveau mot de passe</label>
                                            <input name="password" id="password" placeholder="Mot de Passe" class="form-control inp-group-input input-line" type="password" aria-label="Mot de Passe" aria-describedby="force" pattern=".{6,}" maxlength="25" title="6 caractères minimum" required/>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider row"></div>
                                <div class="d-flex align-items-center">
                                    <div class="ml-auto mr-auto">
                                        <button class="btn btn-primary btn-center btn-lg rounded-pill">Confirmer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {% if error %}
                        <div class="alert alert-conf alert-danger fade show position-absolute" role="alert">{{ error }}</div>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-4" id="img-reset-password">

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}