{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Ressources</title>  
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-note2 icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Ressources</div>
                </div>
            </div>
        </div>
        <div class="tab-content" style="margin-top: 10%;">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/avenant/{{ account_email }}/{{ atype }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger btn-manage">
                                    <i class="pe-7s-note2 opacity-7 btn-icon-wrapper mb-2"> </i>Avenant
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/dotation/{{ account_email }}/{{ atype }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary btn-manage">
                                    <i class="pe-7s-note2 opacity-7 btn-icon-wrapper mb-2"> </i>Dotation
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/ordre_achat/{{ account_email }}/{{ atype }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-info btn-manage">
                                    <i class="pe-7s-note2 opacity-7 btn-icon-wrapper mb-2"> </i>Ordre d'Achat
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <div class="mb-3 card card-body">
                            <div class="p-2">
                                <button onclick="location.href='/soumission/{{ account_email }}/{{ atype }}';" class="btn-icon-vertical btn-transition-text btn-transition btn-transition-alt pt-2 pb-2 btn btn btn-outline-alternate btn-manage">
                                    <i class="pe-7s-note2 opacity-7 btn-icon-wrapper mb-2"> </i>Soumission
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}