{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Abonnement</title>  
    <script src="https://www.paypal.com/sdk/js?client-id=AY6qLVdr_oibBBF7SoZxDyKjF77pJcrnlTOP1clcMZCP-rHuujkWrGB4KN44opppQ3XVdqGdYK4okXTt&currency=CAD"></script>
    <script>
        const monthNames = ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin",
                            "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Decembre"];
        
        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: {{ facture_details.totalMois }}
                    }
                                     }]
                });
            },
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    var transaction_id = details.id;
                    var transaction_date = details.create_time;
                    var transaction_price = details.purchase_units[0].amount.value;
                    var transaction_status = details.status;

                    // save transaction info
                    var date_facture = transaction_date.substr(0,10);
                    var mois = parseInt(date_facture.substr(5,7)) - 1;
                    var annee = parseInt(date_facture.substr(0,4));
                    var details = "Facture du mois de " +  monthNames[mois-1] + annee.toString();

                    payBill('{{ user_infos[4] }}', date_facture, mois, annee, {{ facture_details.mensualite }}, {{ facture_details.nb_feuilles }}, {{ offre.cout_feuille }}, transaction_price, "non payee", details)

                    addTransaction('{{ user_infos[2] }}', date_facture, transaction_price, transaction_id, transaction_status);
                    
                    // todo udate etat fdacture non payee => payee
                });
            },
            onCancel: function (data) {

            },

            style: {
                layout:  'horizontal',
                color:   'blue',
                shape:   'pill',
                label:   'pay',
                tagline: 'false'
            }
        }).render('#paypal-button-container');

        function animatedJello(){
            var img = document.getElementsByClassName("img-plan")[0];
            img.classList.add("animated");
            img.classList.add("jello");

            setTimeout(function(){
                img.classList.remove("animated");
                img.classList.remove("jello");                       
            }, 500); 
        }
    </script>    
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon p-0">
                        <i class="fas fa-money-check-alt icon-gradient bg-sunny-morning">
                        </i>
                    </div>
                    <div>Mon Abonnement</div>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane tabs-animation fade show active" id="tab-content-1" role="tabpanel">
                <div class="row">
                    <div class="col-md-3 col-xl-3">
                        <div class="mb-3 card card-body dash-card animated bounceIn bg-soft-sky" style="min-height: 298px;">
                            <div class="card-header bg-transparent text-focus">
                                <div class="card-header-title">
                                    Mon Abonnement
                                </div>
                                <div class="btn-actions-pane-right">
                                    <div class="dropdown d-inline-block">
                                            <button type="button" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="dropdown-toggle btn btn-outline-focus">Gérer</button>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-26px, 34px, 0px); top: 0px; left: 0px; will-change: transform; min-width: initial;">
                                                <button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/modifySubscription';">Modifier</button>
                                                <button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/renewSubscription';">Renouveller</button>
                                                <button type="button" tabindex="0" class="dropdown-item" onclick="location.href='/cancelSubscription';">Annuler</button>
                                            </div>
                                        </div>
                                </div>
                            </div>                            

                            <div class="card-body dash-card-body">
                                <br>
                                {% if abonnement.offre == 'bronze' %}
                                <img class="img-plan" src="{{ url_for('static', filename='images/bronze.png') }}" onmouseover="animatedJello();"/>
                                {% elif abonnement.offre == 'silver' %}
                                <img class="img-plan" src="{{ url_for('static', filename='images/silver.png') }}" onmouseover="animatedJello();"/>
                                {% else %}
                                <img class="img-plan" src="{{ url_for('static', filename='images/gold.png') }}" onmouseover="animatedJello();"/>
                                {% endif %}
                                <br>
                                {% if offre.max_consultant != 99999 %}
                                <h6 class="text-center font-weight-bold">Gestion de <em>{{ offre.max_consultant }}</em> consultants</h6>
                                {% else %}
                                <h6 class="text-center font-weight-bold">Gestion <em>illimitée</em> de consultants</h6>
                                {% endif %}

                                <h6 class="text-center font-weight-bold">Accés à <em>{{'%0.2f'| format(offre.mensualite|float) }}$</em> par mois</h6>
                                <h6 class="text-center font-weight-bold"><em>{{ '%0.2f'| format(offre.cout_feuille|float) }}$</em> par feuille de temps</h6>
                                <br>                            
                                <h6 class="text-center font-weight-bold">Statut : <span class="text-danger"><em>
                                    {% if abonnement.etat == 'en_cours' %}
                                    En cours
                                    {% elif abonnement.etat == 'en_attente' %}
                                    En attente
                                    {% else %}
                                    Clos
                                    {% endif %}
                                    </em></span></h6>
                                <h6 class="text-center font-weight-bold">Abonnement valide du <span class="text-danger"><em>{{ abonnement.date_debut }}</em></span> au <span class="text-danger"><em>{{ abonnement.date_fin }}</em></span></h6>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-xl-9">
                        <div class="row">
                            <div class="col-md-5 col-xl-5">
                                <div class="mb-3 card card-body dash-card animated bounceIn" style="min-height: 93.3%;">
                                    <div class="card-header">Facture du mois
                                    </div>                            
                                    <div class="card-body dash-card-body" style="justify-content: initial;">
                                        <ul class="list-group list-group-flush">

                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Accés à la plateforme </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-primary" id="totalMonthSubscription">{{ facture_details.mensualite }} $</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Total des feuilles de temps</div>
                                                                <div class="widget-subheading" id="actualMonthSubscription">{{ total_consultants|int }} 
                                                                    {% if total_consultants > 1 %}
                                                                    consultants
                                                                    {% else %}
                                                                    consultant
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-info" id="totalMonthSubscription"><span>x{{ facture_details.nb_feuilles }}</span><span><i class="pe-7s-angle-right"></i></span><span>{{ facture_details.totalFeuilles }} $ </span></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-outer">
                                                        <div class="widget-content-wrapper">
                                                            <div class="widget-content-left">
                                                                <div class="widget-heading">Total pour le mois de</div>
                                                                <div class="widget-subheading">{{ month_infos.month }} {{ month_infos.year }}</div>

                                                            </div>
                                                            <div class="widget-content-right">
                                                                <div class="widget-numbers text-success" id="totalMonthSubscription">{{ facture_details.totalMois }} $</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item pb-0">
                                                <div class="btn-center" id="paypal-button-container" style="margin-top: 40px !important;"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-xl-7">
                                <div class="mb-3 card card-body dash-card animated bounceIn bg-midnight-bloom-soft text-white" style="min-height: 298px;">
                                    <div class="card-header">
                                        <ul class="nav nav-justified">
                                            <li class="nav-item"><a data-toggle="tab" href="#tab-facture" class="active nav-link text-white">Factures</a></li>
                                            <li class="nav-item"><a data-toggle="tab" href="#tab-transactions" class="nav-link text-white">Transactions</a></li>
                                        </ul>
                                    </div>                            
                                    <div class="card-body dash-card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab-facture" role="tabpanel">
                                                <div class="table-responsive">
                                                    <div class="scroll-area-md">
                                                        <div class="scrollbar-container ps--active-y ps">
                                                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">#</th>
                                                                        <th class="text-center">Date</th>
                                                                        <th class="text-center">Mois</th>
                                                                        <th class="text-center">Nombre de feuilles</th>
                                                                        <th class="text-center">Sous-Total</th>
                                                                        <th class="text-center">État</th>
                                                                        <th class="text-center">Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for facture in factures %}
                                                                    <tr>
                                                                        <td class="text-center"><b>#{{ facture.id }}</b></td>
                                                                        <td class="text-center">{{ facture.date_facture }}</td>
                                                                        <td class="text-center">{{ facture.mois }}</td>
                                                                        <td class="text-center">{{ facture.nbr_feuille }}</td>
                                                                        <td class="text-center">
                                                                            {{ '%0.2f'| format(facture.sous_total|float) }} $
                                                                        </td>
                                                                        <td class="text-center">
                                                                            {% if facture.etat == "payee" %}
                                                                            <i class="fas fa-check-double text-success bill-state"></i>
                                                                            {% else %}
                                                                            <i class="fas fa-times text-danger bill-state"></i>
                                                                            {% endif %}
                                                                        </td>
                                                                        <td class="text-center">
                                                                            <button type="button" id="PopoverCustomT-1" class="btn btn-light btn-sm rounded-pill" onclick="location.href='bill/{{ facture.id }}'">Details</button>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="tab-transactions" role="tabpanel">
                                                <div class="table-responsive">
                                                    <div class="scroll-area-md">
                                                        <div class="scrollbar-container ps--active-y ps">
                                                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center">#</th>
                                                                        <th class="text-center">Date</th>
                                                                        <th class="text-center">Facture</th>
                                                                        <th class="text-center">Actions</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    {% for transaction in transactions %}
                                                                    <tr>
                                                                        <td class="text-center"><b>{{ transaction.id_paypal }}</b></td>
                                                                        <td class="text-center">{{ transaction.date }}</td>
                                                                        <td class="text-center">Facture n°{{ transaction.id_facture }}</td>
                                                                        <td class="text-center">
                                                                            <button type="button" id="PopoverCustomT-1" class="btn btn-light btn-sm rounded-pill" onclick="location.href='https://www.sandbox.paypal.com/';">Details</button>
                                                                        </td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}