<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome-animation.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
        <!-- jQuery, Popper & Anime -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                setInterval(updateNotifs, 1000);
            });
            
            function updateNotifs() {
                var icon = document.getElementById("notificationIcon");
                var toast_container = document.getElementById("toast-container");
                var containerContainsToast = $('#toast-container').has("div");

                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            if (xhr.responseText == "True"){
                                icon.classList.remove("d-none");
                                setTimeout(function(){
                                    icon.classList.add("flash");
                                    
                                 }, 1000);    
                                icon.classList.remove("flash");
                            } else{
                                icon.classList.add("d-none");
                                icon.classList.remove("flash");
                            }
                        }
                    }
                };
                {% if utype == 1 %}
                xhr.open("GET", "/getNewNotification/" + '{{ user_infos[2] }}',true);
                {% else %}
                xhr.open("GET", "/getNewNotification/" + '{{ user_infos[3] }}',true);
                {% endif %}
                xhr.send();
            }
        </script>
        <!--
=========================================================
* ArchitectUI HTML Theme Dashboard - v1.0.0
=========================================================
* Product Page: https://dashboardpack.com
* Copyright 2019 DashboardPack (https://dashboardpack.com)
* Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
    </head>
    <body id=bodyTenant>
        <div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header closed-sidebar">
            <div class="app-header header-shadow ">
                <div class="app-header__logo">
                    <div class="logo-src">
                        <img id="imgLogo" src="{{ url_for('static', filename='images/logo2.png') }}" alt="logo" width="80" height="60"/>               
                    </div> 
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                        <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                            <span class="btn-icon-wrapper">
                                <i class="fa fa-ellipsis-v fa-w-6"></i>
                            </span>
                        </button>
                    </span>
                </div>    
                <div class="app-header__content">
                    <div class="app-header-right">
                        <div class="header-btn-lg pr-0">
                            <div class="widget-content p-0">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left">
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                                <i class="fa fa-angle-down ml-2 opacity-8" style="margin-top: 15px;margin-right: 8px;"></i>
                                            </a>
                                            <i class="pe-7s-user icon-gradient bg-malibu-beach" style="font-size: 2.5rem;"></i>
                                            <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-181px, 45px, 0px);">
                                                <button onclick="location.href='/myAccount';" type="button" tabindex="0" class="dropdown-item">Mon Compte</button>
                                                {% if utype == 1 %} <!-- Recruteur -->
                                                    <button onclick="location.href='/subscription';" type="button" tabindex="0" class="dropdown-item">Mon Abonnement</button>
                                                {% else %} 
                                                {% endif %} 
                                                <button onclick="location.href='/settings';" type="button" tabindex="0" class="dropdown-item">Paramètres</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content-left  ml-3 header-user-info">
                                        {% if (utype == 0) or (utype == 3) %}
                                            <div class="widget-heading">{{ user_infos[1] }} {{ user_infos[2] }}</div>
                                            <div class="widget-subheading">{{ user_infos[12] }}</div>

                                        {% elif utype == 1 %}
                                            <div class="widget-heading">{{ user_infos[0] }} {{ user_infos[1] }}</div>
                                            <div class="widget-subheading">{{ user_infos[4] }}</div>
                                        
                                        {% elif utype == 2 %}
                                            <div class="widget-heading">{{ user_infos[1] }} {{ user_infos[2] }}</div>
                                            <div class="widget-subheading">{{ user_infos[6] }}</div>
                                        {% else %}
                                            <div class="widget-heading">Nom Prénom</div>
                                            <div class="widget-subheading">Rôle</div>
                                        {% endif %}

                                    </div>
                                    <div class="widget-content-right header-user-info ml-3">
                                        <button onclick="location.href='/inbox';" type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                            <i class="fas text-white fa-envelope pr-1 pl-1"></i>
                                            <span id="notificationIcon" class="d-none badge badge-pill badge-danger">0</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>                
            <div class="app-main">
                <div class="app-sidebar sidebar-shadow sidebar-text-light bg-night-sky" style="z-index: 11;">
                    <div class="app-header__logo">
                        <div class="header__pane ml-auto">
                            <div>
                                <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="app-header__mobile-menu">
                        <div>
                            <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
                    </div>   
                    {% if utype == 0 %}
                    <div class="scrollbar-sidebar ps">
                        <div class="app-sidebar__inner">
                            <ul class="vertical-nav-menu metismenu">
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/myTimeSheets" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-date app-sidebar-icon"></i>
                                        Feuilles de temps
                                    </a>
                                </li>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/manageAccounts" class="sidebar-content" aria-expanded="true">
                                        <i class="metismenu-icon pe-7s-users app-sidebar-icon"></i>
                                        Gestion des comptes
                                    </a>

                                </li>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/manageRessources" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-note2 app-sidebar-icon"></i>
                                        Gestion des ressources
                                    </a>

                                </li>
                                <li class="app-sidebar__heading"></li>
                                <li class="app-sidebar-li">
                                    <a href="/dashboard" class="sidebar-content" aria-expanded="false">
                                        <i class="metismenu-icon pe-7s-server app-sidebar-icon"></i>
                                        Journal d'activité
                                    </a>
                                </li>
                                {% elif utype == 1 %} <!-- Recruteur -->
                                <div class="scrollbar-sidebar ps">
                                    <div class="app-sidebar__inner">
                                        <ul class="vertical-nav-menu metismenu">
                                            <li class="app-sidebar__heading"></li>
                                            <li class="app-sidebar-li">
                                                <a href="/" class="sidebar-content" aria-expanded="false">
                                                    <i class="metismenu-icon pe-7s-date app-sidebar-icon"></i>
                                                    Feuilles de temps
                                                </a>
                                            </li>
                                            <li class="app-sidebar__heading"></li>
                                            <li class="app-sidebar-li">
                                                <a href="/manageAccounts" class="sidebar-content" aria-expanded="true">
                                                    <i class="metismenu-icon pe-7s-users app-sidebar-icon"></i>
                                                    Gestion des comptes
                                                </a>

                                            </li>
                                            <li class="app-sidebar__heading"></li>
                                            <li class="app-sidebar-li">
                                                <a href="/manageRessources" class="sidebar-content" aria-expanded="false">
                                                    <i class="metismenu-icon pe-7s-note2 app-sidebar-icon"></i>
                                                    Gestion des ressources
                                                </a>

                                            </li>
                                            {% elif utype == 2 %} <!-- Client -->
                                            <div class="scrollbar-sidebar ps">
                                                <div class="app-sidebar__inner">
                                                    <ul class="vertical-nav-menu metismenu">
                                                        <li class="app-sidebar__heading"></li>
                                                        <li class="app-sidebar-li">
                                                            <a href="/ConsultantTimeSheets" class="sidebar-content" aria-expanded="false">
                                                                <i class="metismenu-icon pe-7s-date app-sidebar-icon"></i>
                                                                Feuilles de temps
                                                            </a>
                                                        </li>
                                                        <li class="app-sidebar__heading"></li>
                                                        <li class="app-sidebar-li">
                                                            <a href="/manageConsultants" class="sidebar-content" aria-expanded="true">
                                                                <i class="metismenu-icon pe-7s-users app-sidebar-icon"></i>
                                                                Gestion des Consultants
                                                            </a>

                                                        </li>
                                                        <li class="app-sidebar__heading"></li>
                                                        <li class="app-sidebar-li">
                                                            <a href="/manageRessources" class="sidebar-content" aria-expanded="false">
                                                                <i class="metismenu-icon pe-7s-note2 app-sidebar-icon"></i>
                                                                Gestion des ressources
                                                            </a>

                                                        </li>
                                                        <li class="app-sidebar__heading"></li>
                                                        <li class="app-sidebar-li">
                                                            <a href="/logActivity" class="sidebar-content" aria-expanded="false">
                                                                <i class="metismenu-icon pe-7s-server app-sidebar-icon"></i>
                                                                Journal d'activité
                                                            </a>
                                                        </li>
                                                        {% elif utype == 3 %} <!-- Consultant -->
                                                        <div class="scrollbar-sidebar ps">
                                                            <div class="app-sidebar__inner">
                                                                <ul class="vertical-nav-menu metismenu">
                                                                    <li class="app-sidebar__heading"></li>
                                                                    <li class="app-sidebar-li">
                                                                        <a href="/myTimeSheets" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-date app-sidebar-icon"></i>
                                                                            Feuilles de temps
                                                                        </a>
                                                                    </li>
                                                                    <li class="app-sidebar__heading"></li>
                                                                    <li class="app-sidebar-li">
                                                                        <a href="/manageClients" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-users app-sidebar-icon"></i>
                                                                            Gestion des Clients
                                                                        </a>

                                                                    </li>
                                                                    <li class="app-sidebar__heading"></li>
                                                                    <li class="app-sidebar-li">
                                                                        <a href="/logActivity" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-server app-sidebar-icon"></i>
                                                                            Journal d'activité
                                                                        </a>
                                                                    </li>
                                                                    {% endif %}

                                                                    <li class="app-sidebar__heading"></li>
                                                                    <li class="fixed-bottom" id="dashLi">
                                                                        <a href="/dashboard" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-display2 app-sidebar-icon" id="dashBut"></i>
                                                                            Tableau de bord
                                                                        </a>
                                                                    </li>
                                                                    <li class="app-sidebar__heading" id="bottomHeadingDash"></li>
                                                                    <li class="fixed-bottom" id="messLi">
                                                                        <a href="/inbox" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-mail app-sidebar-icon" id="messBut"></i>
                                                                            Messagerie
                                                                        </a>
                                                                    </li>
                                                                    <li class="app-sidebar__heading" id="bottomHeadingMess"></li>
                                                                    <li class="fixed-bottom" id="logoutLi">
                                                                        <a href="/logout" class="sidebar-content" aria-expanded="false">
                                                                            <i class="metismenu-icon pe-7s-power app-sidebar-icon" id="logoutBut"></i>
                                                                            Se déconnecter
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    {% block content %}
                                                    {% endblock %}

                                                </div>
                                            </div>

                                            <div id="toast-container" class="toast-top-right">
                                            </div>
                                            <footer class="footer text-white">
                                                <div class="container">
                                                    <div class="footer-copyright text-center py-3">© 2019 Copyright :
                                                        <a href="/"> amaconsulting.com</a>
                                                    </div>
                                                </div>
                                            </footer>
                                            <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
                                            <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
                                            </body>
                                        </html>