{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Feuilles de Temps des Consultants</title>
    
    <script type="text/javascript">
    
        function arrowRotate(id){
            var arrow = document.getElementById("arrow_" + id);         
            var arrows = [].slice.call(document.querySelectorAll('[id^=arrow_]'));
            
            for (var i = 0; i < arrows.length ; i++){
                if(arrow.id != "arrow" + id){
                    arrows[i].style.transform = "rotate(0);";
                }
            }
            
            arrow.style.transform = "rotate(90deg)";
        }
    
    </script>
    
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-date icon-gradient bg-malibu-beach">
                        </i>
                    </div>
                    <div>Feuilles de Temps des Consultants</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">

                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover" id="theadTimeSheetClient">
                                <thead>
                                    <tr>
                                        <th class="text-center" style="width: 8.3% !important;"></th>
                                        <th class="text-center" style="width: 16.6% !important;">Consultant</th>
                                        <th class="text-center" style="width: 24.95% !important;">Entreprise</th>
                                        <th class="text-center" style="width: 24.95% !important;">Status des Feuilles</th>
                                        <th class="text-center" style="width: 24.95% !important;">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="accordion" class="accordion-wrapper mb-3">
                                <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                    <tbody>
                                        {% for account in consultants_accounts %}
                                        <tr>
                                            <div class="card">
                                                <div id="heading{{ loop.index }}" class="card-header timesheet-cd">
                                                    <div class="container" onclick="getNowTimeSheet('{{ account[3] }}');">
                                                        <div data-toggle="collapse" data-target="#collapse{{ loop.index }}{{ loop.index0 }}" aria-expanded="false" aria-controls="collapse{{ loop.index }}" class="text-center m-0 p-0 collapsed">
                                                            <div class="row trTimeSheetClient">

                                                                <div class="col-md-1">
                                                                   <i class="fa accordion-li" id="arrow_{{ loop.index0 }}"></i>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <a class="m-0 p-0">{{ account[1] }} {{ account[2] }}</a>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <a class="m-0 p-0">{{ account[12] }}</a>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <a class="m-0 p-0">Status</a>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button onclick="location.href='/';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Gérer</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div data-parent="#accordion" id="collapse{{ loop.index }}{{ loop.index0 }}" aria-labelledby="heading{{ loop.index }}" class="collapse" style="">
                                                    <div class="card-body" id="timesheets_{{ account[3] }}">
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}