{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Feuille de Temps du {{ timesheet.date_debut }} au {{ timesheet.date_fin }}</title>
    
    <script type="text/javascript">
        $( document ).ready(function() {
            setModalReject();
            setTimeout(function() {
                $('#timeSheetTable').removeClass('d-none');
                $('#timeSheetStatus').removeClass('d-none');
                $('.spinner-grow').addClass('d-none');
                $('#timeSheetLoader').addClass('invisible');
            }, 1500);
        });
    </script>
    <script type="text/javascript">
    
        function calculTotalJour(day){
            total = document.getElementById("total_" + day);
            am_s = parseFloat((document.getElementById("amS_" + day).innerHTML).replace(':','.'));
            am_e = parseFloat((document.getElementById("amE_" + day).innerHTML).replace(':','.'));
            pm_s = parseFloat((document.getElementById("pmS_" + day).innerHTML).replace(':','.'));
            pm_e = parseFloat((document.getElementById("pmE_" + day).innerHTML).replace(':','.'));
            
            total_am = am_e - am_s;
            total_pm = pm_e - pm_s;

            if (total_am < 0 && total_pm >= 0){
                total_am_pm = total_pm;
            } else if (total_am >= 0 && total_pm < 0){
                total_am_pm = total_am;
            } else {
                total_am_pm = total_am + total_pm;
            }

            total.innerHTML = total_am_pm.toFixed(2);
            calculTotalHeuresJour();
        }  

        
        function calculTotalHeuresJour(){
            var matches = [].slice.call(document.querySelectorAll('[id^=total_]'));
            var totalHeures = document.getElementById("totalHeuresJour");
            var total = 0.00;
            
            for (var i = 0; i < matches.length ; i++){
                total += parseFloat(matches[i].innerHTML);
            }
            
            totalHeures.innerHTML = total.toFixed(2) + " h";
            calcul_salaire_brut();
        }
        
        function calcul_salaire_brut(){
            var taux = parseInt(document.getElementById("tauxHoraire").innerHTML);  
            var total_heures = parseFloat(document.getElementById("totalHeuresJour").innerHTML);
            
            document.getElementById("salaireBrut").innerHTML = (taux * total_heures).toFixed(2) + " $";
        }
        
        function setModalReject(){
            var container = document.getElementsByClassName("app-container");
            
            container[0].innerHTML += '<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="rejectModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="rejectModalLabel">Raison du rejet</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div><form action="/rejectTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}" method="post" enctype="multipart/form-data"><div class="modal-body"><div class="position-relative form-group"> <label for="reason" class="">Veuillez expliquer les raisons du rejet :</label><textarea name="reason" id="reason" class="form-control"></textarea></div></div><div class="modal-footer"><input type="submit" class="btn btn-outline-danger btn-center" value="Rejeter"/></div></form></div></div></div>'
        }
    </script>

</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-date icon-gradient bg-malibu-beach">
                        </i>
                    </div>
                    <div>Feuille de Temps</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="main-card mb-3 card">
                    <div class="card-header" style="height: 5rem !important">
                        <div class="btn-actions-pane-left">
                            <div class="btn-group">
                                <button onclick="location.href='/ConsultantTimeSheets';" type="button" class="fc-prev-button btn btn-focus" aria-label="prev" id="backTimesheet">
                                <span class="pe-7s-back"></span>
                            </button>
                            </div>
                        </div>
                        <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.ordre_achat_id }}/{{ prev_timesheet}}';" type="button" class="fc-prev-button btn btn-outline-primary" aria-label="prev" id="prevTimesheet">
                            <span class="fa fa-chevron-left"></span>
                        </button>
                        <a id="periodTimesheet">{{ list_days[0].date.day }} {{ list_days[0].month }} - {{ list_days[6].date.day }} {{ list_days[6].month }}</a>
                        
                        {% if timesheet.etat == 'soumise' %}
                            <div class="badge badge-info d-none" id="timeSheetStatus">En attente</div>
                        {% elif timesheet.etat == 'approuvee' %}
                            <div class="badge badge-success d-none" id="timeSheetStatus">Approuvée</div>
                        {% elif timesheet.etat == 'rejetee' %}
                            <div class="badge badge-danger d-none" id="timeSheetStatus">Rejetée</div>
                        {% else %}
                            <div class="badge badge-warning d-none" id="timeSheetStatus">Prévue</div>
                        {% endif  %}
                        
                        <button onclick="location.href='/timeSheetsConsultant/{{ timesheet.ordre_achat_id }}/{{ next_timesheet}}';" type="button" class="fc-next-button btn btn-outline-primary" aria-label="next" id="nextTimesheet">
                            <span class="fa fa-chevron-right"></span>
                        </button>
                        <div class="btn-actions-pane-right">
                            <a id="saveHour" class="text-primary d-none"></a>
                            <div role="group" class="btn-group-sm btn-group-vertical">
                                {% if timesheet.etat == "approuvee" %}
                                    <button onclick="location.href='/approveTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" class="btn btn-outline-success disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="bottom" title="Déjà approuvée !">Approuver</button>
                                    <button class="btn btn-outline-danger disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="bottom" title="Déjà approuvée !">Rejeter</button>
                                {% elif timesheet.etat == "rejetee" %}
                                    <button onclick="location.href='/approveTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" class="btn btn-outline-success">Approuver</button>
                                    <button class="btn btn-outline-danger disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="bottom" title="Déjà rejetée !">Rejeter</button> 
                                {% elif timesheet.etat == "soumise" %}
                                    <button onclick="location.href='/approveTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" class="btn btn-outline-success">Approuver</button>
                                    <button class="btn btn-outline-danger" data-toggle="modal" data-target="#rejectModal">Rejeter</button>
                                {% else %}   
                                    <button class="btn btn-outline-success disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="bottom" title="Pas encore soumise par le consultant !">Approuver</button>
                                    <button class="btn btn-outline-danger disabled" style="cursor: not-allowed" data-toggle="tooltip" data-placement="bottom" title="Pas encore soumise par le consultant !">Rejeter</button> 
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <div id="timeSheetLoader" class="d-flex justify-content-center">
                            <div class="spinner-grow text-primary" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                            <div class="spinner-grow text-primary" role="status">
                              <span class="sr-only">Loading...</span>
                            </div>
                        </div>                
                        <table id="timeSheetTable" class="align-middle mb-0 table table-borderless table-striped table-hover d-none">
                            <thead>
                                <tr>
                                    <th class="text-center">Jour</th>
                                    <th class="text-center">Date</th>
                                    <th class="text-center" colspan="2">Matinée</th>
                                    <th class="text-center" colspan="2">Aprés-Midi</th>
                                    <th class="text-center">Heures / Jour</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for day in list_days %}
                                <script type="text/javascript">
                                    $( document ).ready(function() {
                                        calculTotalJour('{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}');
                                    });
                                </script>
                                <tr>
                                    <td class="text-center text-muted">{{ day.name }}</td>
                                    <td class="text-center">
                                        <a>{{ day.date.day }} {{ day.month }}</a>
                                    </td>
                                    <td class="text-center clock-td">
                                        <a id="amS_{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}">{{ days_data[loop.index0].AM_s }}</a>
                                    </td>
                                    <td class="text-center clock-td">
                                        <a id="amE_{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}">{{ days_data[loop.index0].AM_e }}</a>
                                    </td>
                                    <td class="text-center clock-td">
                                        <a id="pmS_{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}">{{ days_data[loop.index0].PM_s }}</a>
                                    </td>
                                    <td class="text-center clock-td">
                                        <a id="pmE_{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}">{{ days_data[loop.index0].PM_e }}</a>
                                    </td>
                                    <td class="text-center">
                                        <a id="total_{{ timesheet.ordre_achat_id }}_{{ day.date }}_jour_{{ loop.index }}">0.00</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr style="height: 40px;">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong><em>Total Heures / Jour : </em></strong></td>
                                    <td class="text-center"><strong><em id="totalHeuresJour">00:00 h</em></strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong><em>Taux Horaire : </em></strong></td>
                                    <td class="text-center"><strong><em id="tauxHoraire">{{ taux_horaire }} $</em></strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right"><strong><em>Salaire Brut</em></strong></td>
                                    <td class="text-center"><strong><em id="salaireBrut">00 000,00 $</em></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}