{% extends "tenant.html" %} 
{% block content %}
<head>
    <title>Mes Feuilles de Temps</title>
</head>
<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-date icon-gradient bg-malibu-beach">
                        </i>
                    </div>
                    <div>Mes Feuilles de Temps</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-header">
                        <div class="btn-actions-pane-right">
                            <div role="group" class="btn-group-sm btn-group">
                                {% if not status %}
                                    <button onclick="location.href='/myTimeSheets/{{ username }}/All';" class="active btn btn-outline-focus">Toutes</button>
                                    <button onclick="location.href='/myTimeSheets/{{ username }}/InProgress';" class="btn btn-outline-focus">En Cours</button>
                                    <button onclick="location.href='/myTimeSheets/{{ username }}/Submitted';" class="btn btn-outline-focus">Soumise</button>
                                    <button onclick="location.href='/myTimeSheets/{{ username }}/Pending';" class="btn btn-outline-focus">En attente</button>
                                {% else %}
                                
                                    {% if status == "All" %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/All';" class="active btn btn-outline-focus">Toutes</button>
                                    {% else %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/All';" class="btn btn-outline-focus">Toutes</button>
                                    {% endif %}

                                    {% if status == "InProgress" %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/InProgress';" class="active btn btn-outline-focus">En Cours</button>            
                                    {% else %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/InProgress';" class="btn btn-outline-focus">En Cours</button>
                                    {% endif %}

                                    {% if status == "Submitted" %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/Submitted';" class="active btn btn-outline-focus">Soumise</button>
                                    {% else %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/Submitted';" class="btn btn-outline-focus">Soumise</button>
                                    {% endif %}

                                    {% if status == "Pending" %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/Pending';" class="btn btn-outline-focus">En attente</button>        
                                    {% else %}
                                        <button onclick="location.href='/myTimeSheets/{{ username }}/Pending';" class="btn btn-outline-focus">En attente</button>
                                    {% endif %}                                
                                {% endif %}                                
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">#</th>
                                    <th>Période</th>
                                    <th class="text-center">Approbateur</th>
                                    <th class="text-center">Status</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for timesheet in timesheets %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td>
                                        <a>De <b><em>{{ timesheet.date_debut }}</em></b> à <b><em>{{ timesheet.date_fin }}</em></b></a>
                                    </td>
                                    <td class="text-center"><a href="/">{{ timesheet.approbateur }}</a></td>
                                    <td class="text-center">
                                        {% if timesheet.etat == 'soumise' %}
                                            <div class="badge badge-info">En attente</div>
                                        {% elif timesheet.etat == 'approuvee' %}
                                            <div class="badge badge-success">Approuvée</div>
                                        {% elif timesheet.etat == 'rejetee' %}
                                            <div class="badge badge-danger">Rejetée</div>
                                        {% else %}
                                            <div class="badge badge-warning">Prévue</div>
                                        {% endif  %}
                                    </td>
                                    <td class="text-center">
                                        <button onclick="location.href='/myTimeSheet/{{ timesheet.ordre_achat_id }}/{{ timesheet.date_debut }}';" type="button" id="PopoverCustomT-1" class="btn btn-primary btn-sm">Details</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %}